* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 사이드 바 전체 컨테이너 */
.admin_page_side_container {
    width: 360px;

    height: 1000px; /* 푸터 높이에 따라 달라질 예정 */
    /* min-height: calc(100vh - 헤더높이 - 푸터높이); */

    background-color: #082A71;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 각 요소들 공통 속성 */
.admin_profile_setting_container,
.admin_wish_list_container,
.user_secession_container {
    width: 360px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    transition: background-color 0.2s ease;
}

.admin_profile_setting_container {
    margin-top: 80px;
}

.admin_profile_setting_container:hover,
.admin_wish_list_container:hover,
.user_secession_container:hover {
    cursor: pointer;
    background-color: #E1B12C;
}

img {
    width: 34px;
}

/* 메뉴 텍스트 속성 */
.admin_page_menu {
    width: 100px;
    margin-left: 30px;
    color: white;
}

/* 메뉴 클릭시 효과 */
.active_admin_page {
    background-color: #E1B12C;
}