body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 100%;
    max-width: 500px;
    margin: auto auto; /* 마진 증가 */   
    border-radius: 16px; /* 모서리 더 둥글게 */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08); 
}

h1 {
    text-align: center;
}

.content_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.profile_upload {
    display: none;

}

.profile_circle {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(240, 238, 238);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile_circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.report_type_main {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 20px;
}

.report_type {
    margin-bottom: 20px;
}

.report_title div {
    height: 40px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    cursor: pointer;
    border: 1px solid rgb(100, 100, 100);
    margin-top: -1px;
    border-radius: 4px;
    position: relative;
}

.report_title div:nth-child(1):hover {    
    cursor: pointer;
    background-color: rgb(238, 233, 244);
}

.report_title div:nth-child(2):hover {
    cursor: pointer;
    background-color: rgb(238, 233, 244);
}

.report_title > div > img {
    position: absolute;
    right: 40px;
    top: 10px;
}

textarea {
    width: 99%;
    height: 200px;
    border-radius: 3px;
}

.text_section {
    position: relative;    
    margin: 0 20px;
}

.text_section .count {
    position: absolute;
    font-size: 9px;
    bottom: 8px;
    right: 7px;
}




form > button {
    display: block;
    margin: 30px auto;
    background-color: #14223e;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 6px;

}

form > button:hover {
    background-color: #082A71;
}

.warning {
    display: flex;
    align-items: flex-start;
    padding: 0 50px;
    gap: 7px;
    margin-bottom: 5px;
}

.warning img {
    width: 10px;
    height: 10px;
    margin-top: 4px;
}

.warning p {
    font-size: 10px;
    margin: 0;
}