.detail_container{


    margin-left: 25%;
    margin-right: 25%;

    box-sizing: border-box;
    width: 1200px;
}

.detail_top {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.detail_top_left, .detail_top_right {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 8px;
    margin-top: 5px;
}



.detail_top_text{

    margin-left: 30px;
    
}

.usedBook_thumbnail{

    width: 244px;
    height: 325px;
}


.detail_title{

    display: inline;
    font-weight: bold;
    font-size: 24px;
}

.author_publisher{
    margin-top: 15px;
}

.enroll_date{
    margin-top: 15px;
}

.detail_top_info{

    display: flex;
}

.present_price {
    color: #F4307E;
    font-size: 18px;
    
}

.detail_top_left{

    width: 70%;


}

.like_part{
    margin-top: 30px;
}

.like_part > span{
    font-size: 20px;
    font-weight: bold;

}


.heart {
    cursor: pointer;
}

.heart .fa-solid {
    display: none;
    color: red;
}


.button_top{
    display: flex;


}

.button_bottom{
    display: flex;
    margin-right: 3px;
    
}

.cart_btn{
    font-size: 16px;
    width: 100px;
    height: 35px;
    background-color: #082A71;
    border-radius: 5px;
    color: white;
    border: 0px;
    cursor: pointer;
    font-weight: bold;

}

.purchase_btn{
    font-size: 16px;
    width: 150px;
    height: 35px;
    background-color: #E1B12C;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}


.button_bottom > button{

    font-size: 16px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    border: 0px;


}

.detail_top_text > .buttons{

    margin-top: 50px;

}



.edit_btn{
    background-color: #0C54B4;
    cursor: pointer;
}

.del_btn{
    
    background-color: #F4307E;
    cursor: pointer;

    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: bold;
    border: 0px;

}

.button_bottom > a{
    display: flex;
}

.list_btn {
    
    background-color: #5170B1;
    cursor: pointer;

    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    border: 0px;
}

.line{
    width: 1200px;
    border: 1px solid black;

    margin-top: 50px;
}

.linet{

    width: 1200px;
    border: 1px solid black;
    margin-bottom: 30px;

}

.detail_middle > table{

    display: block

}


.bookStatus_Guide_Head > td{
    
    
    border: 1px solid black;
    text-align: center;
    
}

.bookStatus_Guide_Head {
    
    background-color: #CFDFFF;
    
}

.bookStatus_Guide_Body > td{

    border: 1px solid black;
    text-align: center;
    
}

.usedBook_detail_low > div{
    font-size: 24px;
    font-weight: bold;
}

.long_text {
    white-space: pre-line;
    
    
}

#intro {
    margin-bottom: 30px;
}


.detail_middle{

    margin-top: 150px;
}