.detail_container{


    margin-left: 25%;
    margin-right: 25%;

    
}

.detail_top {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.detail_top_left, .detail_top_right {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 8px;
    margin-top: 5px;
}



.detail_top_text{

    margin-left: 30px;
    
}




.detail_title{

    display: inline;
    font-weight: bold;
    font-size: 24px;
}

.author_publisher{
    margin-top: 15px;
}

.enroll_date{
    margin-top: 15px;
}

.detail_top_info{

    display: flex;
}

.present_price {
    color: #F4307E;
    font-size: 24px;
}

.detail_top_left{

    width: 70%;


}

.like_part{
    margin-top: 30px;
}

.like_part > span{
    font-size: 34px;
    font-weight: bold;

}

.heart .fa-solid {
    display: none;

}

.heart.active .fa-solid {
    display: inline;
    color: red;
    
}

.heart.active .fa-regular {
    display: none;
    
}


.button_top{
    display: flex;


}

.button_bottom{
    display: flex;
    justify-content: space-between;
}

.cart_btn{
    font-size: 24px;
    width: 200px;
    height: 70px;
    background-color: #082A71;
    border-radius: 5px;
    color: white;
    border: 0px;

}

.purchase_btn{
    font-size: 24px;
    width: 348px;
    height: 70px;
    background-color: #E1B12C;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    border: 0px;
}


.button_bottom > button{

    font-size: 24px;
    width: 180px;
    height: 70px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    border: 0px;


}

.detail_top_text > .buttons{

    margin-top: 50px;

}



.edit_btn{
    background-color: #0C54B4;
}

.del_btn{
    margin-left: 5px;
    background-color: #F4307E;
}

.list_btn{
    margin-left: 5px;
    background-color: #5170B1;
}

.detail_middle > table{

    display: block

}


.bookStatus_Guide_Head > td{
    
    
    border: 1px solid black;
    text-align: center;
    
}

.bookStatus_Guide_Head {
    
    background-color: #CFDFFF;
    
}

.bookStatus_Guide_Body > td{

    border: 1px solid black;
    text-align: center;
    
}

.usedBook_detail_low > div{
    font-size: 24px;
    font-weight: bold;
}

.long_text {
    white-space: pre-line;
    
}


.detail_middle{

    margin-top: 150px;
}