main{
    margin-left: 20%;
    margin-right: 20%;

    box-sizing: border-box;

    width: 1200px;
}

.list_container {
    box-sizing: border-box;
    width: 1200px;

    display: flex;
    flex-direction: column;
}

.top_title{
    font-size: 24px;
    font-weight: bold;


}

.category_left {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 70px;
    gap: 4px;
    
    
}

.category_right{
    display: flex;

}

.category_all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 35px;

    background-color: gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;

    
}

.category_area {
    
    display: flex;
    
    flex-wrap: wrap;
    align-items: start;
    
    box-sizing: border-box;
    
}

.category_section {
    display: flex;
    margin-top: 100px;
    align-items: start;
    font-size: 15px;
    
    
    
}

.category_case{
    display: flex;
    flex-wrap: wrap;
    


}

.category_table {

    width: 160px;
    cursor: pointer;
    border-radius: 5px;
    background-color: gainsboro;
    margin: 5px;
    
}


.category_list {

    display: flex;
    justify-content: center;
    height: 35px;
    width: 160px;
    align-items: center;
    background-color: gainsboro;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-basis: 18%;
    
}

.category_small{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

.mini_category {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 5px;
    
    width: 94px;
    height: 35px;
    margin-top: 1px;
    

    /* display: none; */

    
}

.mini_category.active {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 5px;
    
    margin: 5px;

}



.sort_search {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.sort_search_case {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search_bar{
    width: 300px;
}


.sort_search_right {

    display: flex;
    gap: 0;
}

.search_btn{

    margin-left: 3px;
    width: 80px;
    height: 40px;
    background-color: #082A71;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;

}

.list_board {
    display: flex;
    flex-wrap: wrap;
    
    gap: 77px;
    
    
}

.list_info_case {
    display: flex;
    
    
    margin-top: 30px;


}


.list_info {
    
    flex-direction: column;
    width: 178px;
    cursor: pointer;
}

.list_img{
    max-width: 178px;
}

.list_title{
    font-size: 18px;
    font-weight: bold;
}

.list_author, .list_publisher{
    color: #565050;
    font-size: 14px;
}

.list_price{
    color: #5170B0;
    font-size: 14px;
}



.enroll_btn{
    width: 185px;
    height: 70px;
    border: 0;
    border-radius: 5px;
    background-color: #082A71;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.list_btn_area{
    display: flex;
    justify-content: end;
}



