main{
    margin-left: 20%; 
    margin-right: 20%;
}

.top_title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 50px;
}

.enroll_container{
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-width: 800px;
}

.enroll_line {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;

}

.enroll_left {
    border-right: 1px solid black;
    align-content: center;
    align-items: stretch;
    width: 30%;
    


}

.left_label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.enroll_right{
    width: 980px;
}

.enroll_right {

    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: center;
    
}

.img_case{
    width: 230px;
    height: 200px;
    display: flex;
    align-items: center;
}

.usedBook_enroll_thumbnail{
    display: flex;
    height: 90%;
    align-content: center;
}


.select_usedBook_status{
    font-size: 16px;
    margin-top: 10px;
}

.bookStatus_Guide {
    display: none;
}

.bookStatus_Guide.active{
    display: block;
}

.bookStatus_Guide_Head > td{
    
    
    border: 1px solid black;
    text-align: center;
    
}

.bookStatus_Guide_Head {
    
    
    background-color: #CFDFFF;
    
}

.bookStatus_Guide_Body > td{

    border: 1px solid black;
    text-align: center;
    
}



.status_Guide {

    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: end;
}

.empty_left{
    flex: 4;
}

.right_area {
    display: flex;
    align-self: center;
    flex: 6;
}

.arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}

.arrow_up{
    display: none;
}

.arrow_up.active{
    display: flex;
}

.arrow_down.active{
    display: none;
}

.select_category {

    font-size: 16px;
    width: 50%;
}

.select_small_category{

    font-size: 16px;
    width: 40%;
    display: none;
}

.enroll_right span{
    display: flex;
    gap: 5px;
    
}

.select_small_category.active {
    display: flex;
}



.enroll_right input{
    display: flex;
    
    height: 30px;
    width: 300px;
}

.enroll_right textarea{

    display: flex;
    width: 100%;
    min-height: 300px;
    
    box-sizing: border-box;
    
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    resize: none;
    overflow: hidden;    

    align-self: stretch;

    
}

.buttons {
    display: flex;
    justify-content: end;
    height: 50px;

    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;

    
}

.insert_btn{
    width: 160px;
    color: white;
    background-color: #082A71;

    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.cancel_btn{
    width: 100px;
    background-color: #B3B3B3;

    cursor: pointer;
    border-radius: 5px;
    border: none;
}