* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    max-width: 1200px;
    height: 100%;
    border: 1px solid black;
}

th{
    border-bottom: 1px solid black;
}

td{
    border-bottom: 1px solid black;
}

