* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.white {
    color: white;
}

.white {
    color: white;
}


/* 헤더 배경색 */
.blue_background {
    background-color: #082A71;
    width: 1920px;
    height: 90px;
}

.header_inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 카테고리 / 로그인 */
.header_category, .header_login {
    display: flex;
}

.header_category div {
    margin-right: 40px;
    font-weight: bold;
    height: 90px;

    display: flex;
    align-items: center;

    padding: 25px;
    border-radius: 15px 15px 0 0;
    transition: background-color 0.2s ease;

}

.header_login div {
    margin-left: 30px;
}

/* 로고 및 검색바 */
.logo_search_container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 360px;
    width: 1200px;
}

.logo_container > a > img {
    width: 150px;
}

/* 검색바 영역 */
.search_container {
    width: 500px;
    border: 2px solid #082A71;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 10px;
}

.search_icon {
    padding: 10px;
    margin: 5px 15px 5px 10px;
}

.search_input > input {
    border: none;
    font-size: 16px;
    width: 350px;
    height: 40px;
}

.search_input > input:focus {
    outline: none;
}

/* 헤더 선택 효과 */
.header_category div a {
    display: block;
}

.header_category div.header_active {
    background-color: #5170B0;
}