<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면 우츤하단 버튼</title>
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

    <link rel="stylesheet" href="../../static/css/common/bot-nav-btn.css">

</head>
<body>
	<!-- 최근 본 콘텐츠 -->
    <div class="view-contanier open">
        <h3>최근 본 콘텐츠</h3>

        <div class="button-group">
            <button class="recent-btn select">전체</button>
            <button class="recent-btn">도서</button>
            <button class="recent-btn">영화</button>
        </div>

        <div class="count">
            <p><b>5</b>개</p>
            <p>전체삭제</p>
        </div>

		<!-- 전체 -->
		<section class="recent-all">
			<!-- 최근 본 콘텐츠 1개 -->
			<div class="content-box">
				<img src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>

			<div class="content-box">
				<img src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>

			<div class="content-box">
				<img src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>

			<div class="content-box">
				<img src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>

			<div class="content-box">
				<img src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>
		</section>

		<!-- 도서 -->
		<section class="recent-book colse">
			<!-- 최근 본 콘텐츠 1개 -->
			<div class="content-box">
				<img src="../../static/images/movie/movie_sample_img2.png">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>

			<div class="content-box">
				<img src="../../static/images/movie/movie_sample_img2.png">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>
		</section>

		<!-- 영화 -->
		<section class="recent-movie colse">
			<!-- 최근 본 콘텐츠 1개 -->
			<div class="content-box">
				<img src="../../static/images/movie/movie_sample_img3.png">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>

			<div class="content-box">
				<img src="../../static/images/movie/movie_sample_img3.png">
				<div class="content-text">
					<p class="view-title">[국내도서] 돈의 속성(400쇄 리커버에디션)</p>
					<span>김승호</span><span>/</span><span>스노우폭스북스</span>
				</div>
				<p class="view-x-btn">&times;</p>
			</div>
		</section>
        
    </div>

	<!-- flating 버튼 -->
    <div class="floating-ui">
      <button class="floating-btn" id="btnRecent"><span class="icon-drawer"></span></button>
      <button onclick="openBot()" class="floating-btn"><img class="ft-bt2" src="../../static/images/common/only-logo.png" alt=""></button>
      <button class="floating-btn"><i class="fa-solid fa-caret-up"><br>맨 위로</i></button>
    </div>

    <script>
		/* 챗봇 팝업 띄우기 */
		function openBot() {
			window.open("chatBot.html", "_blank", 'width=530, height=710')
		}
    </script>
	<script src="../../static/js/common/recentView.js"></script>
</body>
</html>