<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면 우츤하단 버튼</title>
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

    <link rel="stylesheet" href="../../static/css/common/bot-nav-btn.css">

</head>
<body>
    <div class="floating-ui">
      <button class="floating-btn"><span class="icon-drawer"></span></button>
      <button class="floating-btn"><img class="ft-bt2" src="../../static/images/common/only-logo.png" alt=""></button>
      <button class="floating-btn"><i class="fa-solid fa-caret-up"><br>맨 위로</i></button>
    </div>
</body>
</html>