<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <title>header</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <a th:href="@{#}" class="header_active"><div class="white font-18px">홈</div></a>
                    <a th:href="@{#}"><div class="white font-18px">도서</div></a>
                        <a th:href="@{#}"><div class="white font-18px">중고도서</div></a>
                        <a th:href="@{#}"><div class="white font-18px">영화</div></a>
                </div>

                    <div class="header_login">
                        <a th:href="@{#}"><div class="white font-18px">로그인</div></a>
                        <a th:href="@{#}"><div class="white font-18px">회원가입</div></a>
                    </div>
                </div>
        </div>

    </div>

</body>

</html>