<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <title>header</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <a th:href="@{/}" th:classappend="${url == 'home' ? 'header_active' : ''}"><div class="white font-18px">홈</div></a>
                    <a th:href="@{/books}" th:classappend="${url == 'books' ? 'header_active' : ''}"><div class="white font-18px">도서</div></a>
                        <a th:href="@{/ubooks}" th:classappend="${url == 'ubooks' ? 'header_active' : ''}"><div class="white font-18px">중고도서</div></a>
                        <a th:href="@{/movies}" th:classappend="${url == 'movies' ? 'header_active' : ''}"><div class="white font-18px">영화</div></a>
                </div>

                    <!-- 로그인 X -->
                    <div sec:authorize="isAnonymous()" class="header_login">
                        <a th:href="@{/member/login}"><div class="white font-18px">로그인</div></a>
                        <a th:href="@{/member/signUp}"><div class="white font-18px">회원가입</div></a>
                    </div>

                    <!-- 유저 로그인 -->
                    <div sec:authorize="hasRole('USER')" class="header_login">
                        <a th:href="@{/cart}"><div class="white font-18px">장바구니</div></a>
                        <a th:href="@{/myPage}"><div class="white font-18px">마이페이지</div></a>
                        
                        <a th:href="@{/chatting}" style="text-decoration: none; display: flex; align-items: center; gap: 8px;">
                            <div class="white font-18px">1:1 문의</div>
                            <span class="notread_img" id="headerUnreadBadge" style="display: none;">0</span>
                        </a>

                        <a th:href="@{/member/logout}"><div class="white font-18px">로그아웃</div></a>
                    </div>

                    <!-- 관리자 로그인 -->
                    <div sec:authorize="hasRole('ADMIN')" class="header_login">
                        <a th:href="@{/admin/statistics}"><div class="white font-18px">관리자 페이지</div></a>

                        <a th:href="@{/chatting}" style="text-decoration: none; display: flex; align-items: center; gap: 8px;">
                            <div class="white font-18px">1:1 문의</div>
                            <span class="notread_img" id="headerUnreadBadge" style="display: none;">0</span>
                        </a>

                        <a th:href="@{/admin/logout}"><div class="white font-18px">로그아웃</div></a>
                    </div>
                </div>
        </div>

    </div>

</body>

</html>