<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" href="../../static/css/common/home.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/common/header.css">
</head>

<body>

    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <div class="header_active"><a href="#" class="white font-18px">홈</a></div>
                    <div><a href="#" class="white font-18px">도서</a></div>
                    <div><a href="#" class="white font-18px">중고도서</a></div>
                    <div><a href="#" class="white font-18px">영화</a></div>
                </div>

                <div class="header_login">
                    <div><a href="#" class="white font-18px">로그인</a></div>
                    <div><a href="#" class="white font-18px">회원가입</a></div>
                </div>
            </div>
        </div>

    </div>

    <!-- 로고 및 검색바 -->
    <div class="logo_search_container">
        <!-- 로고 -->
        <div class="logo_container">
            <a href="#"><img src="../../static/images/common/logo_basic.png" alt=""></a>
        </div>

        <!-- 검색바 전체 자리 -->
        <div class="search_container">
            <!-- 검색 아이콘 -->
            <div class="search_icon">
                <img src="../../static/svg/search_icon.svg" alt="">
            </div>

            <!-- 검색란 -->
            <div class="search_input">
                <input type="text" placeholder="원하는 작품을 검색해 보세요!">
            </div>
        </div>
    </div>


    <!-- 홈 컨테이너 -->
    <div class="home_container">

        <!-- 배너 영역 -->
        <div class="banner_area">
            <img src="" alt="">
        </div>


        <!-- 베스트 셀러 top10 (결제) -->
        <div class="category_container best_seller">
            <div class="category_title sub_title">당신의 시간을 훔칠 10가지 걸작</div>
            <div class="font-24px bold category_title">베스트 셀러 TOP10</div>

            <!-- 버튼과 상품 전체 감싸는 영역 -->
            <div class="product_list_container">
                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="product_pre_btn">&lt;</div>

                <!-- 상품만(슬라이드) 감싸는 영역 -->
                <div class="product_card_container">

                    <!-- 슬라이드 할 영역 -->
                    <div class="slide_area">
                        <!-- 상품 카드 (상품 하나) -->
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>

                    </div>
                </div>

                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="product_next_btn">&gt;</div>

            </div>

        </div>

        <!-- 오늘의 인기 도서 top5 (좋아요) -->
        <div class="category_container">
            <div class="category_title sub_title">오늘, 당신의 마음을 두드린 문장이 있나요?</div>
            <div class="font-24px bold category_title">오늘의 인기 도서 TOP5</div>

            <!-- 버튼과 상품 전체 감싸는 영역 -->
            <div class="product_list_container">
                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

                <!-- 상품만(슬라이드) 감싸는 영역 -->
                <div class="product_card_container">

                    <!-- 슬라이드 할 영역 -->
                    <div class="slide_area">
                        <!-- 상품 카드 (상품 하나) -->
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>

                    </div>
                </div>

                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

            </div>

        </div>

        <!-- 오늘의 인기 영화 top5 (좋아요)  -->
        <div class="category_container">
            <div class="category_title sub_title">지루한 일상을 영화처럼 특별하게</div>
            <div class="font-24px bold category_title">오늘의 인기 영화 TOP5</div>

            <!-- 버튼과 상품 전체 감싸는 영역 -->
            <div class="product_list_container">
                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

                <!-- 상품만(슬라이드) 감싸는 영역 -->
                <div class="product_card_container">

                    <!-- 슬라이드 할 영역 -->
                    <div class="slide_area">
                        <!-- 상품 카드 (상품 하나) -->
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a href="#" class="a_deco">
                            <div class="product_card">
                                <div><img src="../../static/images/cart/mock_book1.png" alt=""></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>

                    </div>
                </div>

                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

            </div>

        </div>

    </div>



    <footer class="footer">
        <div class="footer-in">

            <!-- 상단 링크 -->
            <nav class="ft-toplinks" aria-label="Ft links">
                <a href="#">회사소개</a>
                <span class="sep">|</span>
                <a href="#">서비스 소개</a>
                <span class="sep">|</span>
                <a href="#">이용약관</a>
                <span class="sep">|</span>
                <a href="#">개인정보처리방침</a>
                <span class="sep">|</span>
                <a href="#">청소년보호정책</a>
                <span class="sep">|</span>
                <a href="#">채용정보</a>
                <span class="sep">|</span>
                <a href="#">광고문의</a>
            </nav>

            <div class="footer-main">
                <!-- 좌측 로고 -->
                <div class="footer-brand" aria-label="BOOGIMOVIE">
                    <img src="../../static/images/common/logo_white.png" alt="">
                </div>

                <!-- 회사 정보 -->
                <div class="footer-info">
                    <div class="info-row">
                        <span class="info-title">(주)BOOGIMOVIE</span>
                    </div>

                    <div class="info-row">
                        <span>서울특별시 종로구 우정국로2길 21 9층, 903호</span>
                    </div>

                    <div class="info-row">
                        <span>대표자: (발신자부담) 1544-0000(부기문고) · 1661-1112(핫트랙스)</span>
                    </div>

                    <div class="info-row">
                        <span>이메일: boogi@naver.com</span>
                    </div>

                    <div class="info-row">
                        <span>대표 FAX: 2025-012-0801</span>
                    </div>

                    <div class="info-row">
                        <span>사업자등록번호: 102-81-11670</span>
                    </div>

                    <div class="info-row">
                        <span>통신판매업신고: 0000 - 서울 종로구 - 00000</span>
                    </div>

                    <div class="info-row">
                        <span>개인정보관리 책임자: 김무비</span>
                    </div>

                    <div class="info-row copyright">
                        © BOOGIMOVIE CENTRE
                    </div>
                </div>

                <!-- 우측 SNS -->
                <div class="footer-sns" aria-label="Social links">
                    <a class="sns-btn" href="#" aria-label="KakaoTalk"><img src="../../static/svg/footer-kakao.svg"
                            alt=""></a>
                    <a class="sns-btn" href="#" aria-label="Facebook"><img src="../../static/svg/footer-facebook.svg"
                            alt=""></a>
                    <a class="sns-btn" href="https://www.instagram.com/dog___foooot?igsh=MTlyc3lpc3Y3c3FqMA=="
                        aria-label="Instagram"><img src="../../static/svg/footer-instagram.svg" alt=""></a>
                    <a class="sns-btn" href="#" aria-label="YouTube"><img src="../../static/svg/footer-youtube.svg"
                            alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="../../static/css/common/footer.css">

    <script src="../../static/js/common/home.js"></script>

</body>

</html>