<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <link rel="stylesheet" th:href="@{/css/common/home.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- 헤더 -->
    <th:block th:replace="~{common/header}">header.html</th:block>

    <!-- 홈 컨테이너 -->
    <div class="home_container">

        <!-- 배너 영역 -->
        <div class="banner_area">
            <img th:src="@{/images/sample_book.png}" alt="광고">
        </div>


        <!-- 베스트 셀러 top10 (결제) -->
        <div class="category_container best_seller">
            <div class="category_title sub_title">당신의 시간을 훔칠 10가지 걸작</div>
            <div class="font-24px bold category_title">베스트 셀러 TOP10</div>

            <!-- 버튼과 상품 전체 감싸는 영역 -->
            <div class="product_list_container">
                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="product_pre_btn">&lt;</div>

                <!-- 상품만(슬라이드) 감싸는 영역 -->
                <div class="product_card_container">

                    <!-- 슬라이드 할 영역 -->
                    <div class="slide_area">
                        <!-- 상품 카드 (상품 하나) -->
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>

                    </div>
                </div>

                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="product_next_btn">&gt;</div>

            </div>

        </div>

        <!-- 오늘의 인기 도서 top5 (좋아요) -->
        <div class="category_container">
            <div class="category_title sub_title">오늘, 당신의 마음을 두드린 문장이 있나요?</div>
            <div class="font-24px bold category_title">오늘의 인기 도서 TOP5</div>

            <!-- 버튼과 상품 전체 감싸는 영역 -->
            <div class="product_list_container">
                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

                <!-- 상품만(슬라이드) 감싸는 영역 -->
                <div class="product_card_container">

                    <!-- 슬라이드 할 영역 -->
                    <div class="slide_area">
                        <!-- 상품 카드 (상품 하나) -->
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>

                    </div>
                </div>

                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

            </div>

        </div>

        <!-- 오늘의 인기 영화 top5 (좋아요)  -->
        <div class="category_container">
            <div class="category_title sub_title">지루한 일상을 영화처럼 특별하게</div>
            <div class="font-24px bold category_title">오늘의 인기 영화 TOP5</div>

            <!-- 버튼과 상품 전체 감싸는 영역 -->
            <div class="product_list_container">
                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

                <!-- 상품만(슬라이드) 감싸는 영역 -->
                <div class="product_card_container">

                    <!-- 슬라이드 할 영역 -->
                    <div class="slide_area">
                        <!-- 상품 카드 (상품 하나) -->
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>
                        <a th:href="@{#}" class="a_deco">
                            <div class="product_card">
                                <div><img th:src="@{/images/cart/mock_book1.png}"></div>
                                <div class="product_title">개발자 생존법</div>
                                <div class="info_gray">저자</div>
                                <div class="info_gray">출판사</div>
                            </div>
                        </a>

                    </div>
                </div>

                <!-- 10개인 경우 버튼 들어갈 자리 -->
                <div class="btn_hide"></div>

            </div>

        </div>

    </div>

    <!-- 푸터 -->
    <th:block th:replace="~{common/footer}">footer.html</th:block>

    <script th:src="@{/js/common/home.js}"></script>

</body>

</html>