<nav class="manager_side_menu">

    <ul class="manager_list_group">

        <li class="manager_side_title">
            <a href="#"><img src="../../static/images/admin/dashboard1.svg" alt="">대시 보드</a>
        </li>

        <li class="manager_side_title">
            <a href=""><img src="../../static/images/admin/singo1.svg" alt="">신고 관리</a>
        </li>

        <li class="manager_side_title">
            <a href=""><img src="../../static/images/admin/11inquiry1.svg" alt="">1:1 관리</a>
        </li>

        <li class="manager_side_title">
            <a href=""><img src="../../static/images/admin/home1.svg" alt="">홈페이지</a>
        </li>
          
    </ul>
</nav>

