<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 로그인</title>
    <link rel="stylesheet" th:href="@{/css/common/login_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/common/font.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="login_container">
        <div class="logo"><img th:src="@{/images/common/logo_white.png}" alt="로고" /></div>

        <div class="admin_login_container">
            <div class="admin_login_text">관리자 로그인</div>
        </div>

        <!-- /admin/... -->
        <form action="/admin/login" method="post">
            <div class="input_container">
                <!-- 아이디 -->
                <div class="login_id_container">
                    <div class="login_input">아이디</div>
                    <input type="text" class="input_width" name="adminId" />
                </div>
    
                <!-- 비밀번호 -->
                <div class="login_pw_container">
                    <div class="login_input">비밀번호</div>
                    <input type="password" class="input_width" name="adminPw" />
                </div>
    
                <!-- 아이디 저장 -->
                <!-- <div class="save_id_container">
                    <input type="checkbox" id="saveId" name="saveId">
                    <label for="saveId">아이디 저장</label>
                </div> -->
            </div>
    
            <!-- 로그인 버튼 -->
            <div class="login_btn">
                <button class="font-18px bold" type="submit">로그인</button>
            </div>
        </form>

        <!-- 회원가입 및 관리자 로그인 -->
        <div class="login_signup_container">
            <div><a th:href="@{#}" class="go_user_login">사용자 로그인</a></div>
        </div>

    </div>
</body>

</html>