<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin/report_form.css">
</head>
<body>
    
    <main>

    <h1>신고하기</h1>

        <form action="" class="main_content">

            <div class="content_name">
                <label for="profile_upload" class="profile_circle">
                    <img src="../../static/svg/profile_image.svg" alt="">
                </label>
                <input type="file" class="profile_upload">
                <div>하멍멍</div>
            </div>

            <div class="report_type_main">
                <div class="report_type">신고 유형 선택</div>
                <div class="report_title">
                    <div>욕설/비방/혐오 표현
                        <img src="../../static/svg/check_icon1.svg" alt="">
                    </div>
                    <div>관련 없는 글/정보
                        <img src="../../static/svg/check_icon1.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="text_section">
                <textarea name="" id=""> 신고 상세 내용을 적어주세요</textarea>
                <div class="count">1/1000</div>
            </div>

            <button class="submit">신고 완료</button>

        </form>

        <section class="report_bottom">
            <div class="warning">
                <img src="../../static/svg/warning.svg" alt="">
                <p>이 회원이 신고 대상에 해당하는지 다시 한번 확인하여 주시기 바랍니다.</p>
            </div>

            <div class="warning">
                <img src="../../static/svg/warning.svg" alt="">
                <p>신고 대상은 부기무비 이용 약관에 따라 활동 제한 등 불이익을 받을 수 있으며, 사실 관계 확인 시 쌍방 과실일 경우 신고자 또한 부기무비 이용 약관에 따라 활동 제한 등 불이익을 받을 수 있습니다.</p>
            </div>

        </section>
    
    </main>

</body>
</html>