<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin/admin_report.css">
</head>
<body>
    
    <main>
        <h1>리뷰 신고 관리</h1>
        
        <fieldset>
            <legend>검색창</legend>               
            <div>당일</div>
            <div>1개월</div>
            <div>6개월</div>
            <div>1년</div>
            <div class="date">
                <div class="date_wrapper">
                    <div class="front_date">2025.09.01</div>
                    <img src="../../static/svg/calender.svg" class="calender_icon" alt="">
                </div>

                <div>-</div>

                <div class="date_wrapper">
                    <div class="rear_date">2025.09.21</div>
                    <img src="../../static/svg/calender.svg" class="calender_icon" alt="">
                </div>
            </div>
            <button>검색</button>
        </fieldset>

        <div class="total_delete">
            <button>전체 삭제</button>
        </div>        

        <div>
            <table>
                <tr>
                    <th scope="col"><input type="checkbox"></th>
                    <th scope="col">신고자ID</th>
                    <th scope="col">신고된 리뷰</th>
                    <th scope="col">신고된 내용</th>
                    <th scope="col">신고된 회원</th>
                    <th scope="col">신고 사유</th>
                    <th scope="col">신고일</th>
                    <th scope="col">처리여부(Y/N)</th>
                    <th scope="col">처리상태/처리일</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>                    
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>
                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>
                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>
                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>
                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

                                <tr>
                    <td><input type="checkbox"></td>
                    <td>43901</td>
                    <td>광화문 집회에 나와주세요</td>
                    <td><a href="" class="report_detail">게시물과 관련없는 내용입니다.분위기 망치는 내용이에요. 삭제필요</a></td>                    
                    <td>james</td>
                    <td>1</td>
                    <td>2025.12.17</td>
                    <td>Y</td>
                    <td>
                        <button>삭제</button>
                        <button>유지</button>
                    </td>
                </tr>

            </table>

        </div>

        <div class="pagination">
            <ul>
                <a href="">&laquo;</a>
                <a href="">&lt</a>
                <a href="" class="active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <a href="">8</a>
                <a href="">9</a>
                <a href="">10</a>
                <a href="">&gt</a>
                <a href="">&raquo;</a>
            </ul>

        </div>

    </main>

</body>
</html>