<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연령대별 콘텐츠 구매 통계 분석</title>
    <link rel="stylesheet" th:href="@{/css/admin/statistics.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/admin/adminPage_sideBar.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <!-- header -->
    <th:block th:replace="~{common/header_no_search}">header_no_search.html</th:block>

    <div class="body_container">

    <!-- side Menu -->
    <th:block th:replace="~{admin/adminPage_sideBar}">adminPage_sideBar.html</th:block>


    <main>
        <div class="section_header">
            <h2>연령대별 콘텐츠 구매 통계 분석</h2>
        </div>

        <div class="search_book">
            <h3>연령대별 가장 많이 구매한 도서 장르</h3>
            <div>
                <iframe src="http://localhost:5601/app/dashboards#/view/eb42eb78-5b45-48ae-8c24-263530fb7eea?embed=true&_g=%28refreshInterval%3A%28pause%3A%21t%2Cvalue%3A60000%29%2Ctime%3A%28from%3Anow-1y%2Fd%2Cto%3Anow%29%29&hide-filter-bar=true" height="600" width="1150"></iframe>
            </div>
        </div>

        <div class="search_movie">
            <h3>연령대별 가장 많이 구매한 영화 장르</h3>
            <div>                
                <iframe src="http://localhost:5601/app/dashboards#/view/eb42eb78-5b45-48ae-8c24-263530fb7eea?embed=true&_g=%28refreshInterval%3A%28pause%3A%21t%2Cvalue%3A60000%29%2Ctime%3A%28from%3Anow-1y%2Fd%2Cto%3Anow%29%29&hide-filter-bar=true" height="600" width="1150"></iframe>                
            </div>
            
        </div>

    </main>

    </div>

    <!-- footer -->
    <th:block th:replace="~{common/footer}">footer.html</th:block>

    <script th:inline="javascript">
    var message = /*[[${message}]]*/ null;

    if (message) {
        alert(message);
    }
    </script>

</body>
</html>