<!-- 도서 소개 -->
<div class="detail-text-area">
    
    <pre class="detail-text closed">
책 소개
    
흑백요리사 1등 셰프 권성준이 ALMA와 미슐랭 레스토랑을 거쳐 오너 셰프가 되기까지의 여정과 레시피를 담았다. 꿈 없던 학생이 ‘마이 파우라’를 외치며 버틴 이야기와 나폴리 소울 푸드부터 시크릿 레시피까지 공개하며 누구나 요리할 수 있다는 메시지를 전한다.
    
〈흑백요리사〉 1등 셰프 권성준의 드디어 공개되는 이야기, 그리고 레시피
칼질조차 제대로 못하는 평범한 고등학생이 요리사를 꿈꾸며 이탈리아 최고의 요리 학교 ALMA의 학생이 되고, 미슐랭 2, 3 스타 레스토랑을 거쳐 오너 셰프가 되기까지 그가 겪고 느낀 무수한 경험과 그의 손을 거쳐 간 레시피 이야기. 넷플릭스 프로그램 〈흑백요리사〉에서 '흑수저 셰프'로 시작한 그는 '백수저 셰프'들을 제치고 100명의 셰프 중에서 당당히 1등을 거머쥐며 프로그램의 스포트라이트를 자기 것으로 만들었다. 꿈이 없어 무기력하기만 하던 평범한 고등학생이 내로라 하는 유명 셰프들을 이기고 '1등 셰프'가 되기까지, '마이 파우라(겁먹지 마라)'를 수없이 외치며 버텨온 그의 이야기를 통해 진짜 이탈리아 요리와 셰프들의 세계, 그리고 열정의 아름다움을 다시 한번 되새긴다.
    </pre>
    <button class="open-toggle">더보기 ▼</button>
</div>

<!-- 연관상품 구역 -->
<hr>
<!-- 영화 -->
<section class="same-box" id="movie">
    
    <h2 class="same-type">연관 영화 추천</h2>
    
    <div class="same-product-row">
        
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>

    </div>

</section>

<hr>

<!-- 작가 -->
<section class="same-box" id="maker">
    
    <h2 class="same-type">이 작가의 다른 작품</h2>
    <div class="same-product-row">

        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>

    </div>

</section>

<hr>

<!-- 카테고리 -->
<section class="same-box" id="type">
    
    <h2 class="same-type">카테고리 인기 도서</h2>
    <div class="same-product-row">

        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>
        <a class="same-product" href="#">
            <img class="same-img" src="https://image.aladin.co.kr/product/37880/99/cover200/k072033906_1.jpg">
            <div class="same-title">흑백요리사 1</div>
            <div class="same-maker">백종원</div>
            <div class="same-price">20,000 원</div>
        </a>

    </div>

</section>