* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* 전체 컨테이너 (화면 배치) */
.container {
    margin-top: 50px;
    /* width: 1920px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1200px;
    margin-bottom: 100px;
}

/* ================================== */
/* ================================== */

/* 왼쪽 컨테이너 */
.left_container {
    display: inline-block;
    flex: 2;
    justify-content: center;
    align-items: center;
}

/* 체크박스 / 전체삭제 */
.item_delete_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #B3B3B3;
    padding: 10px;
}

.check_item_area {
    display: flex;
}

.check_item_area>input {
    width: 17px;
    margin-right: 8px;
    accent-color: #082A71;
}

/* 전체삭제 */
.all_delete_item>a {
    color: black;
}

/* ================================== */
/* ================================== */

/* 아이템 없는 경우 */
.no_item_container {
    margin-top: 30px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

/* 아이콘 */
.no_item_icon {
    margin: 20px 40px;
}

.no_item_text {
    margin: 0 0 20px 0;
}

/* 홈으로 */
.go_home {
    background-color: #5170B1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.go_home:hover {
    cursor: pointer;
}

/* ================================== */
/* ================================== */

/* 아이템 있는 경우 */
/* 전체 컨테이너: 가로 정렬 */
.cart-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.check-area {
    margin-right: 15px;
}

.check-area input {
    accent-color: #082A71;
}

.image-area img {
    width: 130px;
    height: 170px;
    margin-right: 20px;
    border: 1px solid #eee;
}

/* 남은 공간 모두 차지하도록 */
.info-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 제목과 삭제 버튼 */
.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_title {
    margin: 0;
    font-size: 16px;
    width: 350px;
    height: 50px;
    line-height: 25px;
}

.delete_btn {
    background: none;
    border: none;
    cursor: pointer;
}

/* 수량 조절 */
.quantity-control {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.quantity-control input {
    width: 60px;
}

.quantity-control button {
    width: 20px;
    background-color: #082A71;
    color: white;
    border: none;
    border-radius: 2px;
}

.quantity_minus:hover, .quantity_plus:hover {
    cursor: pointer;
}

/* 쇼핑 계속하기 버튼 */
.continue_shopping_area {
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

.continue_shopping_btn {
    background-color: #5170B1;
    border: none;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
}

.continue_shopping_btn:hover {
    cursor: pointer;
}

/* ================================================= */
/* ================================================= */


/* 오른쪽 컨테이너 */
.right_container {
    margin-top: 40px;
    display: inline-block;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 2px solid #082A71;
    width: 330px;
    height: 380px;
    margin-left: 20px;
}

.product_price_container {
    margin-top: 60px;
}

.delivery_price_container {
    margin-bottom: 30px;
}


.product_price_container,
.delivery_price_container,
.last_price_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
}

.mini_line {
    height: 2px;
    background-color: #d1d1d1;
    margin: 0 30px;
}

/* 주문하기 */
.order_btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.order_btn>button {
    border-radius: 5px;
    width: 300px;
    background-color: #E1B12C;
    border: none;
    padding: 15px;
    color: white;
}

.order_btn>button:hover {
    cursor: pointer;
}