main {
    width: 1200px; /* 1920 - 360*2 */
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid red;
}

/* 카테고리 경로 */
.book-category-path {
    border: 1px solid blue;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #777;

    margin: 25px 0 20px;
    
    font-size: 20px;    
}
.book-category-path:first-child {
    margin-left: 25px;
}


/* 관리자용 */
.book-edit {
    margin-right: 25px;
}

.go-edit:hover {
  cursor: pointer;
  text-decoration: underline;
}

.go-delete {
    color: red;
}

.go-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* 이미지 영역*/
.book-cover {
    width: 320px;
    height: 450px;
    display: block;
}
/* 이미지 크기 고정 */
.img-area {
    flex-shrink: 0;
}

/* 도서 정보 영역 */
.book-detail-main {
    display: flex;
    gap: 80px;
    align-items: flex-start;
}


.detail-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

/* 제목 */
.book-title {
    
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* 도서 정보 부분 */
.book-info {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

/* 평점, 좋아요 */
.book-rating {
    font-size: 35px;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 30px;
}

/* 평점 점수 */
.rate-value {
    font-size: 35px;
    color: #5170B0;
}

/* 좋아요 버튼 */
.book-rating button {
    width: 160px;
    height: 50px;
    font-size: 24px;
    border: 1px solid red;
    border-radius: 20px;
    background: none;
    cursor: pointer;
}

/* 가격 */
.book-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 35px;
}

/* 수량 */
.book-price input {
    width: 70px;
    margin-left: 10px;
}

/* 가격 */
.sell-price {
    font-size: 40px;
    margin-right: 20px;

}

/* 버튼 영역 */
.book-buy {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

/* 장바구니 */
.add-cart {
    width: 200px;
    height: 70px;
    border-radius: 5px;
    border: none;
    background-color: #082A71;
    color: white;
    font-weight: bold;
    font-size: 25px;

}

/* 구매버튼 */
.buy {
    width: 350px;
    height: 70px;
    border-radius: 5px;
    background-color: #E1B12C;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
}
/* ------------------------------------------------------------------------- */

/* 하단 탭 */
.detail-nav.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-link-active-border-color: none;
    --bs-nav-tabs-border-radius: none;

    display: flex;
    width: 100%;
    margin-top: 50px;

}

/* 탭 분할 */
.detail-nav .nav-item {
    flex: 1;
}

.detail-nav .nav-link {
    width: 100%;
    text-align: center;

    font-size: 30px;
    padding: 15px 0;

    background-color: white;
    color: #777;
    border: 2px solid blue;
    border-bottom: 2px solid black;    

    border-radius: 0;

}
.detail-nav .nav-link:not(.active) {
    border: 1px solid #777;
    border-bottom: 2px solid black;    
}

/* 활성 탭 */
.detail-nav .nav-link.active {
    background-color: #fff;
    color: #000;

    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;

    position: relative;
    z-index: 2;
}

.detail-nav:hover {

}