main {
    width: 1080px; /* 1920 - 360*2 */
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    /* border: 1px solid red; */
}

/* 카테고리 경로 */
.book-category-path {
    /* border: 1px solid blue; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #777;

    margin: 25px 0 20px;
    
    font-size: 20px;    
}
.book-category-path:first-child {
    margin-left: 25px;
}


/* 관리자용 */
.book-edit {
    margin-right: 25px;
}

.go-edit:hover {
  cursor: pointer;
  text-decoration: underline;
}

.go-delete {
    color: red;
}

.go-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* 이미지 영역*/
.book-cover {
    width: 320px;
    height: 450px;
    display: block;
}
/* 이미지 크기 고정 */
.img-area {
    flex-shrink: 0;
}

/* 도서 정보 영역 */
.book-detail-main {
    display: flex;
    gap: 80px;
    align-items: flex-start;
}


.detail-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

/* 제목 */
.book-title {
    
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* 도서 정보 부분 */
.book-info {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

/* 평점, 좋아요 */
.book-rating {
    font-size: 35px;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 30px;
}

/* 평점 점수 */
.rate-value {
    font-size: 35px;
    color: #5170B0;
}

/* 좋아요 버튼 */
.book-rating button {
    width: 160px;
    height: 50px;
    font-size: 24px;
    border: 1px solid red;
    border-radius: 20px;
    background: none;
    cursor: pointer;
}

/* 가격 */
.book-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 35px;
}

/* 수량 */
.book-price input {
    width: 70px;
    margin-left: 10px;
}

/* 가격 */
.sell-price {
    font-size: 40px;
    margin-right: 20px;

}

/* 버튼 영역 */
.book-buy {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

/* 장바구니 */
.add-cart {
    width: 200px;
    height: 70px;
    border-radius: 5px;
    border: none;
    background-color: #082A71;
    color: white;
    font-weight: bold;
    font-size: 25px;

}

/* 구매버튼 */
.buy {
    width: 350px;
    height: 70px;
    border-radius: 5px;
    background-color: #E1B12C;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
}
/* ---------------------------------------------------------------------------- */
/* 부트스트랩 css 강제로 고치기 */
/* 하단 탭 */
.detail-nav.nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: transparent;
    --bs-nav-tabs-link-active-border-color: none;
    --bs-nav-tabs-border-radius: none;

    display: flex;
    width: 100%;
    margin-top: 50px;

}

/* 탭 분할 */
.detail-nav .nav-item {
    flex: 1;
}

.detail-nav .nav-link {
    width: 100%;
    text-align: center;

    font-size: 30px;
    padding: 15px 0;

    background-color: white;
    color: #777;
    border: 2px solid blue;
    border-bottom: 2px solid black;    

    border-radius: 0;

}
.detail-nav .nav-link:not(.active) {
    border: 1px solid #777;
    border-bottom: 2px solid black;    
}

/* 활성 탭 */
.detail-nav .nav-link.active {
    background-color: #fff;
    color: #000;

    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    position: relative;
    z-index: 2;
}

/* 비활성 탭 hover 효과 제거 */
.detail-nav .nav-link:not(.active):hover {
    background-color: #fff !important;
    color: #777 !important;
    border: 1px solid #777;
    border-bottom: 2px solid black;    
}

.tab-content {
    margin-top: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* ---------------------------------------------------------------------------- */

/* 책 소개 */
.detail-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    white-space: pre-wrap;
    margin: 0;
}

/* 접힘상태 */
.detail-text.closed {
    max-height: 180px;
    overflow: hidden;
    position: relative;
}

/* 더보기 버튼 */
.open-toggle {
    width: 100px;
    height: 30px;
    display: block;
    font-size: 18px;
    border: none;
    margin: 15px 0 30px;
}



/* ---------------------------------------------------------------------------- */

/* 연관상품 박스 */
.same-box {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1080px;
    height: 550px;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    background-color: #F7F7F7;
}

/* 제목 */
.same-type {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
}

/* 상품 정렬 */
.same-product-row {
    display: flex;
    justify-content: space-around;
    margin: 0px 30px;
    gap: 30px;
}

/* 상품 개별 */
.same-product {
    width: 178px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    text-decoration: none;
    color: #000;

}


/* 연관상품 이미지 */
.same-img {
    width: 178px;
    height: 264px;
    object-fit: cover;
}

/* 연관상품 제목 */
.same-title {
    width: 178px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;

    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    

}

/* 제작사 작가이름 기타등등 */
.same-maker {
    width: 178px;
    height: 30px;

    font-size: 15px;
    font-weight: normal;

    text-align: left;
    color: #7F7F7F;
}

/* 연관상품 가격 */
.same-price {
    width: 178px;
    height: 30px;
    
    font-size: 15px;
    font-weight: bold;
    text-align: end;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* 후기 기본별 설정 구역 */

/* 채워진 별 */
.star-icon.filled {
    background-image: url(../../svg/review-star-filled.svg) !important;
}
.star-icon {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(../../svg/review-star-empty.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */




/* 후기 작성 버튼 */
.review-write-btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #5170B0;
    color: white;
    font-weight: bold;
    font-size: 25px;

}

/* 작성구역 */
.review-write-area {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 185px;
}

.review-write-top {
    
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
}

/* 별점 작성 구역 */
.review-star {
    width: 215px;
    margin-top: 5px;
    display: flex;

}

.review-star-input {
    display: none;
    cursor: default;
}


/* .review-star-label .star-icon {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    left: -1;
    background-image: url(../../svg/review-star-empty.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: default;
    
} */

/* .review-star-label .star-icon.filled {
    background-image: url(../../svg/review-star-filled.svg);
} */
.review-star-label{
  display: block; /* 혹은 flex item */
  cursor: default;
}

.review-star.readonly .star-icon {
  opacity: 0.7;
  cursor: default;
}





.review-write-box {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    background-color: #EBF2FF;
}
.review-write-input {
    width: 100%;
    padding-left: 30px;
    height: 100%;
    border: none;

    background-color: transparent;

    font-size: 15px;
    font-weight: 700;
}
.review-write-input:focus {
    outline: none;
}

.review-write-controller {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}

.review-write-submit {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 80px;
    height: 40px;
    background-color: #5170B0;
    color: white;
}
.review-write-cancel {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 80px;
    height: 40px;
    background-color: #B3B3B3;
    color: black;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* 후기 카드 */
.review-box {

    border-bottom: 1px solid #777;

    display: flex;
    justify-content: space-between;

    height: 120px;
}

/* 후기 유저 부분 */
.review-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-left: 50px;

    margin-top: 10px;
}

.review-user-profile {
    width: 75px;
    height: 75px;
    margin-bottom: 5px;
}
.review-user-name {
    width: 120px;
    text-align: center;
    font-size: 15px;
}

.review-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

.review-text {
    font-size: 20px;
    font-weight: 500;
}

.review-time {
    margin-top: 10px;
    color: #7F7F7F;
}

.review-controll {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

/* 신고 */
.review-report {
    font-weight: bold;
}


/* 수정 삭제 */
.review-edit {
    margin-bottom: 10px;
}
.review-edit:nth-child(2) {
    cursor: default;

}

.review-report:hover {
    cursor: pointer;
    text-decoration: underline;
}

.review-edit-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.review-delete-btn {
    color: red;
}
.review-delete-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* 후기 수정 */
.review-edit-box {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    background-color: #EBF2FF;
}
.review-edit-input {
    width: 100%;
    padding-left: 30px;
    height: 100%;
    border: none;

    background-color: transparent;

    font-size: 15px;
}
.review-edit-input:focus {
    outline: none;
}

.review-edit-controller {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}

.review-edit-submit {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 80px;
    height: 40px;
    background-color: #5170B0;
    color: white;
}
.review-edit-cancel {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 80px;
    height: 40px;
    background-color: #B3B3B3;
    color: black;
}