<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    
    <main>
        <section class="section_header">

            <div>
                <h2>1대1 문의</h2>
            </div>

        </section>

        <section class="section_nav">           

                <div class="header_nav_button">
                    <button>전체</button>
                    <button>안읽음</button>
                </div>

                <div class="header_nav_search">
                    <img src="magnifier.svg" alt="">
                    <input type="text" placeholder="메세지를 입력하세요">
                </div>          
                      
        </section>        

        <section class="chat_container">
            <section class="side_list">    
                <div>
                    <div class="individual_chatter">
                        <a href="">
                            <img src="person.svg" alt="프로필">
                            <div>
                                <div>주윤박</div>
                                <div>안녕하세요 바로 구매 가능한가요?</div>                
                            </div>
                        </a>
                        
                        <img src="count.svg" alt="">
                    </div>

                    <div class="individual_chatter">
                        <a href="">
                            <img src="person.svg" alt="프로필">
                            <div>
                                <div>주윤박</div>
                                <div>안녕하세요 바로 구매 가능한가요?</div>                
                            </div>
                        </a>
                        
                        <img src="count.svg" alt="">
                    </div>

                    <div class="individual_chatter">
                        <a href="">
                            <img src="person.svg" alt="프로필">
                            <div>
                                <div>주윤박</div>
                                <div>안녕하세요 바로 구매 가능한가요?</div>                
                            </div>
                        </a>
                        
                        <img src="count.svg" alt="">
                    </div>

                    <div class="individual_chatter">
                        <a href="">
                            <img src="person.svg" alt="프로필">
                            <div>
                                <div>주윤박</div>
                                <div>안녕하세요 바로 구매 가능한가요?</div>                
                            </div>
                        </a>
                        
                        <img src="count.svg" alt="">
                    </div>

                    <div class="individual_chatter">
                        <a href="">
                            <img src="person.svg" alt="프로필">
                            <div>
                                <div>주윤박</div>
                                <div>안녕하세요 바로 구매 가능한가요?</div>                
                            </div>
                        </a>
                        
                        <img src="count.svg" alt="">
                    </div>

                    <div class="individual_chatter">
                        <a href="">
                            <img src="person.svg" alt="프로필">
                            <div>
                                <div>주윤박</div>
                                <div>안녕하세요 바로 구매 가능한가요?</div>                
                            </div>
                        </a>
                        
                        <img src="count.svg" alt="">
                    </div>

                </div>
            </section>

            <section class="right_panel">
                <div>
                    <div class="user_msg">
                        <a href="">
                            <img src="person.svg" alt="">
                            <div>
                                <div>주윤박</div>
                                <div>장바구니를 눌렀는데, 아무반응이 없어요. 아무반응이 없어요. 아무반응이 없어요. 아무반응이 없어요. 아무반응이 없어요. 아무반응이 없어요. 아무반응이 없어요. 아무반응이 없어요.</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div>
                    <div class="manager_msg">
                        <a href="">                            
                            <div>                               
                                <div>확인중입니다.확인중입니다.확인중입니다.확인중입니다.확인중입니다.확인중입니다.확인중입니다.확인중입니다.확인중입니다.확인중입니다.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </section>

        <section class="bottom">
            <nav class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </nav>
            <div class="bottom_input">
                <input type="text" placeholder="메세지를 입력하세요">
                <img src="" alt="">                
            </div>
        </section>
        
    </main>

</body>
</html>