<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1대1 문의 채팅</title>
    <link rel="stylesheet" href="../../static/css/chatting/chatting_user.css">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/admin/adminPage_sideBar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    
         <!-- header -->
    
    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <div class="header_active"><a href="#" class="white font-18px">홈</a></div>
                    <div><a href="#" class="white font-18px">도서</a></div>
                    <div><a href="#" class="white font-18px">중고도서</a></div>
                    <div><a href="#" class="white font-18px">영화</a></div>
                </div>

                <div class="header_login">
                    <div><a href="#" class="white font-18px">로그인</a></div>
                    <div><a href="#" class="white font-18px">회원가입</a></div>
                </div>
            </div>
        </div>

    </div>

    <!-- 로고 및 검색바 -->
    <div class="logo_search_container">
        <!-- 로고 -->
        <div class="logo_container">
            <a href="#"><img src="../../static/images/common/logo_basic.png" alt=""></a>
        </div>

        <!-- 검색바 전체 자리 -->
        <div class="search_container">
            <!-- 검색 아이콘 -->
            <div class="search_icon">
                <img src="../../static/svg/search_icon.svg" alt="">
            </div>

            <!-- 검색란 -->
            <div class="search_input">
                <input type="text" placeholder="원하는 작품을 검색해 보세요!">
            </div>
        </div>
    </div>

  
    <!-- header -->   

    <main>
        <header class="section_header">
            <h1>1대1 문의</h1>
        </header>

        <section class="section_nav"> 
            <div class="header_nav_button">
                <button class="notread">안읽음</button>
                <img src="../../static/svg/count.svg" class="notread_img" alt="안읽은 메시지 수">
            </div> 

            <div class="header_nav_search">
                <img src="../../static/svg/magnifier.svg" alt="검색 아이콘">
                <input type="text" placeholder="메세지를 입력하세요">
            </div> 
            
            <nav class="header_nav_page"> 
                <a href="#">&lt;</a>
                <span class="page_status"> 1 / 4</span>
                <a href="#">&gt;</a> 
            </nav>
        </section>            

            <section class="right_panel">
                <div class="chat_messages">
                    <div class="message_row user_row">
                        <div class="user_msg">
                            <a href="#">
                                <img src="../../static/svg/person.svg" alt="프로필">
                                <div class="user_content">
                                    <div class="user_name">주윤박</div>
                                    <div class="message_bubble">장바구니를 눌렀는데, 아무 반응이 없어요. 아무 반응이 없어요. 아무 반응이 없어요. 아무 반응이 없어요. 아무 반응이 없어요. 아무 반응이 없어요. 아무 반응이 없어요. 아무 반응이 없어요.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="message_row manager_row">
                        <div class="manager_msg">
                            <div class="message_bubble">확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다. 확인중입니다.</div>
                        </div>
                    </div>
                    <div class="message_row user_row">
                        <div class="user_msg">
                            <a href="#">
                                <img src="../../static/svg/person.svg" alt="프로필">
                                <div class="user_content">
                                    <div class="user_name">주윤박</div>
                                    <div class="message_bubble">언제쯤 확인이 가능할까요?</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="message_row manager_row">
                        <div class="manager_msg">
                            <div class="message_bubble">잠시만 기다려주시면 정확한 확인 후 답변드리겠습니다.</div>
                        </div>
                    </div>

                </div>
            </section>
        </section>
        
        <section class="bottom_control_row">

            <div class="chat_input_section">
                <div class="bottom_input_container">
                    <input type="text" placeholder="메세지를 입력하세요" class="chat_input">
                    <button class="attach_button">
                        <img src="../../static/svg/camera.svg" class="bottom_img2" alt="파일 첨부 버튼"> 
                    </button>
                    <button class="send_button">
                        <img src="../../static/svg/enter.svg" class="bottom_img1" alt="전송 버튼"> 
                    </button>
                </div>
            </div>
        </section>
        
    </main>

        <!-- footer -->

    <footer class="footer">
        <div class="footer-in">

            <!-- 상단 링크 -->
            <nav class="ft-toplinks" aria-label="Ft links">
                <a href="#">회사소개</a>
                <span class="sep">|</span>
                <a href="#">서비스 소개</a>
                <span class="sep">|</span>
                <a href="#">이용약관</a>
                <span class="sep">|</span>
                <a href="#">개인정보처리방침</a>
                <span class="sep">|</span>
                <a href="#">청소년보호정책</a>
                <span class="sep">|</span>
                <a href="#">채용정보</a>
                <span class="sep">|</span>
                <a href="#">광고문의</a>
            </nav>

            <div class="footer-main">
                <!-- 좌측 로고 -->
                <div class="footer-brand" aria-label="BOOGIMOVIE">
                    <img src="../../static/images/common/logo_white.png" alt="">
                <div class="brand-text">BOOGIMOVIE</div>
            </div>

            <!-- 회사 정보 -->
            <div class="footer-info">
                <div class="info-row">
                    <span class="info-title">(주)BOOGIMOVIE</span>
                </div>

                <div class="info-row">
                    <span>서울특별시 종로구 우정국로2길 21 9층, 903호</span>
                </div>

                <div class="info-row">
                    <span>대표자: (발신자부담) 1544-0000(부기문고) · 1661-1112(핫트랙스)</span>
                </div>

                <div class="info-row">
                    <span>이메일: boogi@naver.com</span>
                </div>

                <div class="info-row">
                    <span>대표 FAX: 2025-012-0801</span>
                </div>

                <div class="info-row">
                    <span>사업자등록번호: 102-81-11670</span>
                </div>

                <div class="info-row">
                    <span>통신판매업신고: 0000 - 서울 종로구 - 00000</span>
                </div>

                <div class="info-row">
                    <span>개인정보관리 책임자: 김무비</span>
                </div>

                <div class="info-row copyright">
                    © BOOGIMOVIE CENTRE
                </div>
            </div>

            <!-- 우측 SNS -->
                <div class="footer-sns" aria-label="Social links">
                    <a class="sns-btn" href="#" aria-label="KakaoTalk">카톡</a>
                    <a class="sns-btn" href="#" aria-label="Facebook">페북</a>
                    <a class="sns-btn" href="#" aria-label="Instagram">인스타</a>
                    <a class="sns-btn" href="#" aria-label="YouTube">유튜브</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer -->

</body>
</html>