body {
  /* 배경색 */
  background-color: #e8f8c4; 
  
  /* 기본 글꼴 설정 */
  font-family: Arial, sans-serif;
  
  /* 기본 글자 크기 */
  font-size: 16px;
  
  /* 기본 텍스트 색상 */
  color: #333;
  
  /* 페이지 내용의 여백 제거 (브라우저 기본 여백 초기화) */
  margin: 0; 
  padding: 0;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 5px auto;

    background-color: yellow;
    padding: 30px;

    border: 1px solid black;    
}

.section_header {

    height: 70px;
    background-color: green;    
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.section_nav {    
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 300px;
}

/*버튼*/
.header_nav_button {

    display: flex;    
    align-items: center;    
    margin-left: 65px;
    gap: 70px;
}

.header_nav_button > button {
    border-radius: 50px;
    height: 40px;
    width: 70px;
}

/*검색*/
.header_nav_search{
  
    margin-bottom: 20px;
    position: relative;   
    border-bottom: 2px solid black; 
    padding-bottom: 10px;    
}

.header_nav_search > img{

    width: 50px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: auto;
}

.header_nav_search > input{

    width: 300px;
    height: 40px;
    padding-left: 50px;    
    border: none;  
    border-radius: 15px;
    
}

/*chat-container*/
.chat_container{
    display: flex;
    height: 600px;
    border: 1px solid black;
}

.side_list {
    height: 500px;
    width: 330px;
    background-color: rgb(188, 215, 238);
    border: 1px solid black;
    border-radius: 15px;   
    padding-left: 20px;
}

.individual_chatter {
    height: 110px;
    width: 300px;
    background-color: rgb(188, 215, 238);
    border: 1px solid black;
    border-radius: 15px;   
    padding-left: 20px;
    margin-top: 10px;
    position: relative;
}

.individual_chatter {
    height: 70px;
    width: 300px;
    background-color: rgb(188, 215, 238);
    border: 1px solid black;
    border-radius: 15px;   
    padding-left: 20px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px;
}

.individual_chatter > img {
    position: absolute;
    top: 3px;
    left: 280px;
}

.individual_chatter > a {
    display: flex;
    align-items: center;
    gap: 10px;  
    margin-top: 10px;  
}

.individual_chatter a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.individual_chatter a div {
    display: flex;
    flex-direction: column;
    
}

.right_panel {
    margin-left: 30px;
    background-color: lightblue;
    height: 500px;
    width: 500px;
    background-color: rgb(188, 215, 238);
    border: 1px solid black;
    border-radius: 15px;   
    padding-left: 20px;
}

/*사용자*/

.user_msg {           
    
    position: relative;
    border: 1px solid black;    
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 5px;
    max-width: 60%;
}

.user_msg > img {
    position: absolute;
    top: 3px;
    left: 280px;
}

.user_msg > a {
    display: flex;
    align-items: center;
    gap: 10px;  
    margin-top: 10px;  
}

.user_msg a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/*관리자*/

.manager_msg {               
    
    display: inline-block;    
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid black;    
    border-radius: 10px;
    padding: 5px 5px;
    max-width: 60%;
}

.right_panel > div:nth-child(2){
    text-align: right;
}

.bottom {

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

.pagination {
    background-color: red;
}

.bottom_input {
    background-color: darkcyan;
}

