<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBar</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_sideBar.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
</head>
<body>

    <!-- 전체 사이드 영역 -->
    <div class="my_page_side_container">

        <!-- 프로필 관리 -->
        <!-- 타임리프로 변경시 아래 코드 추가 예정 (JS 사용 X) -->
        <!-- th:classappend="${activeMenu == 'profile'} ? 'active_my_page'" -->
        <a th:href="@{/myPage}">
            <div class="my_profile_setting_container active_my_page">
                <img th:src="@{/svg/myPage_user_icon.svg}" alt="" class="sideBar_icon">
                <div class="my_page_menu bold">프로필 관리</div>
            </div>
        </a>

        <!-- 내가 찜한 상품 -->
        <a th:href="@{/myPage/likedList}">
            <div class="my_wish_list_container">
                <img th:src="@{/svg/heart_icon.svg}" alt="" class="sideBar_icon">
                <div class="my_page_menu bold">내가 찜한 상품</div>
            </div>
        </a>

        <!-- 회원 탈퇴 -->
        <a th:href="@{/myPage/secession}">
            <div class="user_secession_container">
                <img th:src="@{/svg/myPage_secession_icon.svg}" alt="" class="sideBar_icon">
                <div class="my_page_menu bold">회원 탈퇴</div>
            </div>
        </a>
    </div>
    
</body>
</html>