<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_info.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/myPage_sideBar.css}">
</head>

<body>
    <th:block th:replace="~{common/header_no_search}">header_no_search.html</th:block>

    <div class="content_wrapper">

      <th:block th:replace="~{myPage/myPage_sideBar}">myPage_sideBar.html</th:block>


        <!-- 전체 컨테이너 -->
        <div class="myPage_container">
            <!-- 사용자 정보 -->
            <div class="user_info_container">
                <div class="font-24px bold">내 정보</div>
                <div><img th:src="${memberInfo.profilePath}" alt=""></div>
                <div class="font-20px bold" th:text="${memberInfo.memberNickName}">하멍멍</div>
                <div class="gray font-18px" th:text="${memberInfo.getMemberId}">hameong</div>
                <div class="gray font-14px" th:text="${memberInfo.enrollDate}">2025-12-10 가입</div>
                <button class="profile_update_btn bold font-16px">프로필 수정</button>
            </div>

            <!-- 라인 -->
            <div class="myPage_line"></div>

            <!-- 내가 소장한 영화 -->
            <div class="font-24px bold my_movie_title">내가 소장한 영화</div>
            <div class="my_movies_container">
                <!-- 상품 영역 -->
                <div class="movie_container">

                    <th:block th:if="${#lists.size(memberInfo.myMovies) > 0}">
                        
                        <!-- 상품 하나 -->
                        <th:block th:each="movie : ${memberInfo.myMovies}">
                            <a th:href="@{|/movies/${movie.productNo}|}" class="my_movie_a">
                                <div class="my_movie">
                                    <div><img th:src="${movie.imgPath}" alt=""></div>
                                    <div class="font-18px bold" th:text="${movie.productTitle}"></div>
                                </div>
                            </a>

                        </th:block>
                    </th:block>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="~{common/footer}">footer.html</th:block>
</body>

</html>