<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내정보 수정</title>
    <link rel="stylesheet" href="../../static/css/myPage/myPage-change.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/myPage/myPage_sideBar.css">
</head>

<body>



    <div class="content_wrapper">

        <div class="my_page_side_container">

            <!-- 프로필 관리 -->
            <!-- 타임리프로 변경시 아래 코드 추가 예정 (JS 사용 X) -->
            <!-- th:classappend="${activeMenu == 'profile'} ? 'active_my_page'" -->
            <div class="my_profile_setting_container active_my_page">
                <img src="../../static/svg/myPage_user_icon.svg" alt="">
                <div class="my_page_menu bold">프로필 관리</div>
            </div>

            <!-- 내가 찜한 상품 -->
            <div class="my_wish_list_container">
                <img src="../../static/svg/heart_icon.svg" alt="">
                <div class="my_page_menu bold">내가 찜한 상품</div>
            </div>

            <!-- 회원 탈퇴 -->
            <div class="user_secession_container">
                <img src="../../static/svg/myPage_secession_icon.svg" alt="">
                <div class="my_page_menu bold">회원 탈퇴</div>
            </div>
        </div>



        <!-- 전체 컨테이너 -->
        <div class="myPage_container">
            
            <!-- 사용자 정보 -->
            <div class="myPage-title">정보 수정</div>

            <div class="user_info_container">

                <!-- 프로필 이미지 구역 -->
                <section class="profile-box">
                    <label for="profile-img"><img src="../../static/images/myPage/curvy.png" id="change-img"></label>
                    <input type="file" id="profile-img" name="profileImage" class="profile-img" accept="image/*" hidden>
    
                    <button type="button" class="img-change-btn">사진 변경</button>            
                </section>

                <!-- 회원 정보 구역 -->
                <section class="info-text-area">

                    <!-- 아이디 -->
                    <div class="info-box">
                        <b class="t-name">아이디</b>
                        <p class="user-id">hameong</p>
                        <button class="just-shape" disabled></button>
                    </div>

                    <!-- 비밀번호 -->
                    <div class="info-box">
                        <b class="t-name">비밀번호</b>
                        <p class="user-pw">••••••••••</p>
                        <button class="change-btn pw">수정</button>
                    </div>

                    <!-- 비밀번호 수정 -->
                    <section class="change-pw-box">
                        
                        <div class="edit-box">
                            <b class="t-name">비밀번호</b>
                            <input type="password" class="edit-pw" value="qwer1234">
                            <button class="just-shape" disabled style="background-color: white;"></button>
                        </div>
                        <br>
                        <div class="edit-box">
                            <b class="t-name">비밀번호 확인</b>
                            <input type="password" class="edit-pw-confirm" value="qwer1234">
                            <button class="change-pw-submit">완료</button>
                        </div>

                    </section>


                    <!-- 이름 -->
                    <div class="info-box">
                        <b class="t-name">이름</b>
                        <p class="user-name">김영희</p>
                        <button class="change-btn name">수정</button>
                    </div>

                    <!-- 이름 수정 -->
                    <section class="change-name-box">
                        <div class="edit-box">
                            <b class="t-name">이름</b>
                            <input type="text" class="edit-name" value="김영희">
                            <button class="change-name-submit">완료</button>
                        </div>
                    </section>
                    
                    <!-- 닉네임 -->
                    <div class="info-box">
                        <b class="t-name">닉네임</b>
                        <p class="user-nickname">하멍멍</p>
                        <button class="change-btn nickname">수정</button>
                    </div>
                    
                    <!-- 닉네임 수정 -->
                    <section class="change-nickname-box">
                        <div class="edit-box">
                            <b class="t-name">닉네임</b>
                            <input type="text" class="edit-nickname" value="하멍멍">
                            <button class="change-nickname-submit">완료</button>
                        </div>
                    </section>
                    
                    <!-- 전화번호 -->
                    <div class="info-box">
                        <b class="t-name">전화번호</b>
                        <p class="user-phone">010-1234-5689</p>
                        <button class="just-shape" disabled></button>
                    </div>
                    
                    <!-- 이메일 -->
                    <div class="info-box">
                        <b class="t-name">이메일</b>
                        <p class="user-email">boo@naver.com</p>
                        <button class="change-btn email">수정</button>
                    </div>
                    
                    <!-- 이메일 수정 -->
                    <section class="change-email-box">
                        <div class="edit-box">
                            <b class="t-name">이메일</b>
                            <input type="text" class="edit-email" value="boo@naver.com">
                            <button class="change-email-submit">완료</button>
                        </div>
                    </section>
                    
                </section>
            </div>

        </div>
    </div>

    <footer class="footer">

        <div class="footer-in">

            <!-- 상단 링크 -->
            <nav class="ft-toplinks" aria-label="Ft links">
                <a href="#">회사소개</a>
                <span class="sep">|</span>
                <a href="#">서비스 소개</a>
                <span class="sep">|</span>
                <a href="#">이용약관</a>
                <span class="sep">|</span>
                <a href="#">개인정보처리방침</a>
                <span class="sep">|</span>
                <a href="#">청소년보호정책</a>
                <span class="sep">|</span>
                <a href="#">채용정보</a>
                <span class="sep">|</span>
                <a href="#">광고문의</a>
            </nav>

            <div class="footer-main">
                <!-- 좌측 로고 -->
                <div class="footer-brand" aria-label="BOOGIMOVIE">
                    <img src="../../static/images/common/logo_white.png" alt="">
                </div>

                <!-- 회사 정보 -->
                <div class="footer-info">
                    <div class="info-row">
                        <span class="info-title">(주)BOOGIMOVIE</span>
                    </div>

                    <div class="info-row">
                        <span>서울특별시 종로구 우정국로2길 21 9층, 903호</span>
                    </div>

                    <div class="info-row">
                        <span>대표자: (발신자부담) 1544-0000(부기문고) · 1661-1112(핫트랙스)</span>
                    </div>

                    <div class="info-row">
                        <span>이메일: boogi@naver.com</span>
                    </div>

                    <div class="info-row">
                        <span>대표 FAX: 2025-012-0801</span>
                    </div>

                    <div class="info-row">
                        <span>사업자등록번호: 102-81-11670</span>
                    </div>

                    <div class="info-row">
                        <span>통신판매업신고: 0000 - 서울 종로구 - 00000</span>
                    </div>

                    <div class="info-row">
                        <span>개인정보관리 책임자: 김무비</span>
                    </div>

                    <div class="info-row copyright">
                        © BOOGIMOVIE CENTRE
                    </div>
                </div>

                <!-- 우측 SNS -->
                <div class="footer-sns" aria-label="Social links">
                    <a class="sns-btn" href="#" aria-label="KakaoTalk"><img src="../../static/svg/footer-kakao.svg"
                            alt=""></a>
                    <a class="sns-btn" href="#" aria-label="Facebook"><img src="../../static/svg/footer-facebook.svg"
                            alt=""></a>
                    <a class="sns-btn" href="https://www.instagram.com/dog___foooot?igsh=MTlyc3lpc3Y3c3FqMA=="
                        aria-label="Instagram"><img src="../../static/svg/footer-instagram.svg" alt=""></a>
                    <a class="sns-btn" href="#" aria-label="YouTube"><img src="../../static/svg/footer-youtube.svg"
                            alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="../../static/css/common/footer.css">







</body>

</html>