<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="../../static/css/myPage/secession.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/myPage/myPage_sideBar.css">
</head>

<body>

    <div class="secession">

        <div class="my_page_side_container">

            <!-- 프로필 관리 -->
            <!-- 타임리프로 변경시 아래 코드 추가 예정 (JS 사용 X) -->
            <!-- th:classappend="${activeMenu == 'profile'} ? 'active_my_page'" -->
            <div class="my_profile_setting_container active_my_page">
                <img src="../../static/svg/myPage_user_icon.svg" alt="" class="sideBar_icon">
                <div class="my_page_menu bold">프로필 관리</div>
            </div>

            <!-- 내가 찜한 상품 -->
            <div class="my_wish_list_container">
                <img src="../../static/svg/heart_icon.svg" alt="" class="sideBar_icon">
                <div class="my_page_menu bold">내가 찜한 상품</div>
            </div>

            <!-- 회원 탈퇴 -->
            <div class="user_secession_container">
                <img src="../../static/svg/myPage_secession_icon.svg" alt="" class="sideBar_icon">
                <div class="my_page_menu bold">회원 탈퇴</div>
            </div>
        </div>


        <div class="secession_container">

            <div class="center_logo">
                <img src="../../static/images/common/logo_basic.png" alt="">
            </div>

            <!-- 회원 탈퇴 약관 박스 -->
            <div class="secession_text_box">
                <div class="secession_title">회원 탈퇴 약관</div>
                <div class="font-18px">1. 회원은 언제든지 서비스 내에서 회원 탈퇴를 요청할 수 있습니다.</div>
                <div class="font-18px">2. 회원 탈퇴 시, 회원의 개인정보는 관련 법령 및 개인정보처리방침에 따라 처리됩니다.</div>
                <div class="font-18px">3. 회원 탈퇴 후에는 해당 계정으로 서비스 이용이 불가능합니다.</div>
                <div class="font-18px">4. 회원 탈퇴로 인해 발생하는 불이익에 대해 회사는 책임을 지지 않습니다.</div>
            </div>

            <!-- 회원 탈퇴 동의 -->
            <div class="secession_agree">
                <input type="checkbox" id="secession_check">
                <label for="secession_check">[필수] 회원 탈퇴에 따른 개인정보 처리 및 서비스 이용 제한 사항을 확인하였으며, 이에 동의합니다.</label>
            </div>

            <!-- 탈퇴 버튼 -->
            <div class="secession_btn">
                <button>회원 탈퇴</button>
            </div>
        </div>

    </div>


</body>

</html>