<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    
    <link rel="stylesheet" th:href="@{/css/usedBookCss/usedBook_List.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">

    <!-- 폰트 -->
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">


</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>

    <main>

    

        <p class="top_title">중고도서</p>

        <form action="">

            <section class="list_container">
    
                <div class="category_section">

                    <div class="category_left">

                        <div class="category_all">
                            전체
                        </div>

                        <div class="category_all">
                            기타
                        </div>

                    </div>
                    
                    
                    <div class="category_area">

                    

                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        <div class="category_list">
                            역사/문화/예술/종교

                        </div>
                        

                        <div class="category_small">
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            <div class="mini_category">
                                라이트노벨
                            </div>
                            

                        </div>
                        
                
                    </div>
                    
        
                </div>
        
                
                <!-- 정렬 -->
                <section class="sort_search">
                    
                    <div class="sort_search_case">
                        
                        <!-- <div class="sort_search_left">
        
                            <select class="sort_list" name="ubookSort" id="ubookListSort">
                
                                <option value="latest"
                                        th:selected="${paramMap['ubookSort'] == 'latest'}">최신순</option>
                                <option value="인기순">인기순</option>
                
                            </select>
        
                        </div> -->
                        
                        <div class="sort_search_right">
                            
                            <select name="" id="">
                                <option value="book_title">제목</option>
                                <option value="author">저자</option>
            
                            </select>
            
                            <input class="search_bar" type="text" placeholder="저자, 제목으로 검색">
            
                            <button class="search_btn">검색</button>
    
                
                        </div>

                    </div>

                    

                </section>


                <!-- 상품 -->
                <section class="list_board">

                    <!-- <a
                        th:each="i : ${#numbers.sequence(row, row+4)}"
                        th:if="${i < page.content.size()}"
                        th:with="ubook=${page.content[i]}"
                        th:href="@{/ubooks/{id}(id=${ubook.productNo})}"
                    
                    
                    
                    >
                        

                        <div class="list_info_case">
                            <div class="list_info">
                                
                                <div class="img_case"><img class="list_img" th:src="${ubook.imgPath}" alt="도서 이미지"></div>
                                <div class="list_title" th:text="${ubook.productTitle}"></div>
                                <div class="list_price" th:text="${ubook.formatInteger(ubook.productPrice, 0, 'COMMA')} + ' 원'"></div>

                            </div>
    
                        </div>

                    </a> -->

                    

                

                </section>
    
            </section>

            <div class="list_btn_area">
                <button class="enroll_btn">글쓰기</button>

            </div>

            <nav class="pagination" aria-label="페이지네이션">
                <!-- <ul class="pagination-list">
                    <li class="pagination-item">
                        <a class="pagination-link" href="#" aria-label="첫 페이지" rel="first">&#60;&#60;</a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-link" href="#" aria-label="이전 페이지" rel="prev">&#60;</a>
                    </li>

                    <li class="pagination-item"><a class="pagination-link is-active" href="#" aria-current="page">1</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">2</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">3</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">4</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">5</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">6</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">7</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">8</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">9</a></li>
                    <li class="pagination-item"><a class="pagination-link" href="#">10</a></li>

                    <li class="pagination-item">
                    <a class="pagination-link" href="#" aria-label="다음 페이지" rel="next">&#62;</a>
                    </li>
                    <li class="pagination-item">
                    <a class="pagination-link" href="#" aria-label="마지막 페이지" rel="last">&#62;&#62;</a>
                    </li>
                </ul> -->
            </nav>

        </form>





    </main>



    <th:block th:replace="~{common/footer}"></th:block>


    <script  th:src="@{/js/ubook/usedbookList.js}"></script>


    
</body>
</html>