<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    
    <link rel="stylesheet" th:href="@{/css/usedBookCss/usedBook_List.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">

    <link rel="stylesheet" th:href="@{/css/common/pagination.css}">

    <!-- 폰트 -->
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">


</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>

    <main>

    

        <p class="top_title">중고도서</p>

        <hr class="line">

        <form th:action="@{/ubooks}" method="get">

            <section class="list_container">
    
                <div class="category_section">

                    <div class="category_left">

                        <button class="ucategoryBtn small" data-value="0" type="button">
                            전체
                        </button>

                        <button class="ucategoryBtn small" data-value="99" type="button">
                            기타
                        </button>

                    </div>
                    
                    
                    <div class="category_area">

                    

                        <button class="ucategoryBtn" data-value="1" type="button">
                            운동/취미/살림

                        </button>
                        <button class="ucategoryBtn" data-value="2" type="button">
                            교재/참고서/자격증

                        </button>
                        <button class="ucategoryBtn" data-value="3" type="button">
                            유아/어린이

                        </button>
                        <button class="ucategoryBtn" data-value="4" type="button">
                            여행

                        </button>
                        <button class="ucategoryBtn" data-value="5" type="button">
                            역사/문화/예술/종교

                        </button>
                        <button class="ucategoryBtn" data-value="6" type="button">
                            과학

                        </button>
                        <button class="ucategoryBtn" data-value="7" type="button">
                            외국어

                        </button>
                        <button class="ucategoryBtn" data-value="8" type="button">
                            만화

                        </button>
                        <button class="ucategoryBtn" data-value="9" type="button">
                            컴퓨터/모바일

                        </button>
                        <button class="ucategoryBtn" data-value="10" type="button">
                            외국도서

                        </button>

                        <button class="ucategoryBtn" data-value="11" type="button">
                            소설/희곡

                        </button>
                        
                        

                        <div class="category_small">
                            <button class="ucategoryBtn mini" data-value="12" type="button">
                                라이트노벨
                            </button>
                            <button class="ucategoryBtn mini" data-value="13" type="button">
                                판타지
                            </button>
                            <button class="ucategoryBtn mini" data-value="14" type="button">
                                SF
                            </button>
                            <button class="ucategoryBtn mini" data-value="15" type="button">
                                추리
                            </button>
                            <button class="ucategoryBtn mini" data-value="16" type="button">
                                로맨스
                            </button>
                            <button class="ucategoryBtn mini" data-value="17" type="button">
                                무협
                            </button>
                            <button class="ucategoryBtn mini" data-value="18" type="button">
                                희곡
                            </button>
                            
                            

                        </div>
                        
                
                    </div>
                    
        
                </div>
        
                
                <!-- 정렬 -->
                <section class="sort_search">
                    
                    <div class="sort_search_case">
                        
                        <div class="sort_search_left">
        
                            <select class="sort_list" name="ubookSort" id="ubookListSort">
                
                                <option value="latest"
                                        th:selected="${paramMap['ubookSort'] == 'latest'}">최신순</option>
                                <option value="productTitle"
                                        th:selected="${paramMap['ubookSort'] == 'productTitle'}">가나다순</option>
                                
                
                            </select>
        
                        </div>
                        
                    

                    </div>

                    

                </section>

                <hr class="line">


                <!-- 상품 -->
                <section class="list_board">

                    <a
                        th:each="ubook : ${ubooks}"
                        th:href="@{/ubooks/{id}(id=${ubook.productNo})}"
                    >
                        

                        <div class="list_info_case">
                            <div class="list_info">
                                <div class="img_case">
                                    <img class="list_img" th:src="${ubook.imgPath}" alt="도서 이미지">
                                </div>
                                <div class="list_title" th:text="${ubook.productTitle}"></div>
                                <div class="list_price" th:text="${ubook.ubookStatus}"></div>
                                <div class="list_price" th:text="${#numbers.formatInteger(ubook.productPrice, 0, 'COMMA')} + ' 원'"></div>
                            </div>
                            
                            
                        </div>
                        
                    </a>
                    
                    

                

                </section>
    
            </section>

            
            <div class="list_btn_area" sec:authorize="hasRole('ADMIN')">
                <button type="button" class="enroll_btn" id="enroll" sec:authorize="hasRole('ADMIN')">글쓰기</button>

            </div>

            

            <!-- 페이지네이션 -->
            <nav class="pagination" th:if="${page != null and page.totalPages > 0}" aria-label="페이지네이션">
                
                <ul class="pagination-list">

                    <!-- 처음으로 -->
                    <li class="pagination-item">
                        <a href="#" class="pagination-link" th:attr="data-page=1">
                            &lt;&lt;
                        </a>
                    </li>

                    <!-- 이전 -->
                    <li class="pagination-item">
                        <a href="#" class="pagination-link" th:attr="data-page=${pageDto.prevPage}">
                            &lt;
                        </a>
                    </li>

                    <!-- 페이지 번호 -->
                    <th:block th:each="i : ${#numbers.sequence(pageDto.blockStart, pageDto.blockEnd)}">

                        
                        <!-- 현재 페이지 -->
                        <li class="pagination-item" th:if="${i == pageDto.currentPage}">
                            <a href="#" class="pagination-link active" th:text="${i}">
                            </a>
                        </li>
                        
                        <!--  나머지 페이지 -->
                        <li class="pagination-item" th:unless="${i == pageDto.currentPage}">
                            <a href="#" class="pagination-link" th:attr="data-page=${i}" th:text="${i}">
                            </a>
                        </li>
                    
                    </th:block>

                    <!-- 다음 -->
                    <li class="pagination-item">
                        <a href="#" class="pagination-link" th:attr="data-page=${pageDto.nextPage}">
                            &gt;
                        </a>
                    </li>

                    <!-- 끝 -->
                    <li class="pagination-item">
                        <a href="#" class="pagination-link" th:attr="data-page=${pageDto.endPage}">
                            &gt;&gt;
                        </a>
                    </li>

                </ul>

            </nav>
        
        </form>





    </main>



    <th:block th:replace="~{common/footer}"></th:block>


    <script  th:src="@{/js/ubook/usedbookList.js}"></script>


    
</body>
</html>