<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/usedBookCss/usedBook_Enroll.css}">

    <link rel="stylesheet" th:href="@{/css/common/footer.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">

    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>

    <th:block th:replace="~{common/header}"></th:block>

    
    <main>
        
        <p class="top_title">도서 등록</p>


        <form th:action="@{/ubooks/insert}" method="post" enctype="multipart/form-data">


            <section class="enroll_container">
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">도서명</p></span>
                    <span class="enroll_right"><input name="productTitle" type="text"></span>
    
                </div>

                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">대표 이미지</p></span>
                    <span class="enroll_right">
                        <div class="img_case">
                            <img class="usedBook_enroll_thumbnail">
                            <input type="file" name="image" class="inputImage" hidden>
                        
                        </div>
                    </span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">작가</p></span>
                    <span class="enroll_right"><input name="writers" type="text"></span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">출판사</p></span>
                    <span class="enroll_right"><input name="publishers" type="text"></span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">도서 상태</p></span>
                    <span class="enroll_right">
                        <label class="select_usedBook_status_label" for="usedBook_status">도서 상태</label>
                        <select class="select_usedBook_status" name="ubookStatus" id="usedBook_status" aria-placeholder="도서 상태를 선택하세요">
                            <option name="statusOption" value="최상">최상</option>
                            <option name="statusOption" value="상">상</option>
                            <option name="statusOption" value="중">중</option>
                        </select>

                        
                        
                        <table class="bookStatus_Guide">
                            
                            <caption>BOOGIMOVIE 중고 품질 판정 가이드</caption>
                            
                            
                            <thead>
                                <tr class="bookStatus_Guide_Head">
                                    <td>품질등급</td>
                                    <td>헌 상태</td>
                                    <td>표지</td>
                                    <td>책등/책배</td>
                                    <td>내부/제본상태</td>
                                
                                </tr>
            
                            </thead>
            
                            <tbody>
            
                                <tr class="bookStatus_Guide_Body">
                                    <td>최상</td>
                                    <td>
                                        새것에 가까움  
            
                                    </td>
                                    <td>
                                        변색 없음 <br>
                                        찢어진 흔적 없음 <br>
                                        닳은 흔적 없음 <br>
                                        낙서 없음 <br>
                                        얼룩 없음 <br>
                                        도서 겉표지 있음
                                    </td>
                                    <td>
                                        변색 없음 <br>
                                        닳은 흔적 없음 <br>
                                        낙서 없음 <br>
                                        얼룩 없음
                                    
                                    </td>
                                    <td>
                                        변색 없음 <br>
                                        낙서 없음 <br>
                                        변형 없음 <br>
                                        얼룩 없음 <br>
                                        제본 탈착 없음
                                    </td>
                                </tr>
            
            
                            </tbody>

                            <tbody>
            
                                <tr class="bookStatus_Guide_Body">
                                    <td>상</td>
                                    <td>
                                        약간의 사용감은 있으나 깨끗한 책  
            
                                    </td>
                                    <td>
                                        희미한 변색이나 작은 얼룩이 있음 <br>
                                        찢어진 흔적 없음 <br>
                                        약간의 모서리 해짐 <br>
                                        낙서 없음 <br>
                                        도서 겉표지 있음
                                    </td>
                                    <td>
                                        희미한 변색이나 작은 얼룩이 있음 <br>
                                        약간의 닳은 흔적 있음 <br>
                                        낙서 없음
                                    
                                    </td>
                                    <td>
                                        변색 없음 <br>
                                        낙서 없음 <br>
                                        변형 없음 <br>
                                        얼룩 없음 <br>
                                        제본 탈착 없음
                                    </td>
                                </tr>
            
            
                            </tbody>

                            <tbody>
            
                                <tr class="bookStatus_Guide_Body">
                                    <td>중</td>
                                    <td>
                                        사용감이 많으며 헌 느낌이 나는 책  
            
                                    </td>
                                    <td>
                                        전체적인 변색 <br>
                                        모서리 해짐 있음 <br>
                                        2cm 이하의 찢어짐 <br>
                                        오염 있음 <br>
                                        낙서 있음 <br>
                                        도서 겉표지 없음 <br>
                                        아웃케이스 없음
                                    </td>
                                    <td>
                                        전체적인 변색 <br>
                                        모서리 해짐 있음 <br>
                                        오염 있음 <br>
                                        낙서 있음
                                    
                                    </td>
                                    <td>
                                        변색 없음 <br>
                                        2cm 이하 찢어짐 있음 <br>
                                        5족 이하의 필기 <br>
                                        얼룩 및 오염 있음 <br>
                                        제본 탈착 없음
                                    </td>
                                </tr>
            
            
                            </tbody>
        
                        </table>

                        <p class="status_Guide">
                            
                            <span class="empty_left"></span>

                            <span class="right_area">
                                <span class="arrow">
                                    모든 등급의 품질 판정 가이드 보기
                                    <img class="arrow_down" th:src="@{/images/common/ep_arrow-down.png}">
                                    <img class="arrow_up" th:src="@{/images/common/ep_arrow-up.png}">
    
                                </span>

                                

                            </span>
                    
                        </p>
                    
                    </span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">정가</p></span>
                    <span class="enroll_right"><input name="nbookPrice" type="number"></span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">판매가</p></span>
                    <span class="enroll_right"><input name="productPrice" type="number"></span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">카테고리</p></span>
                    <span class="enroll_right">
                        <span>
                            <select class="select_category" name="categoryId" id="usedBook_category" size="6">
                                <option value="1">운동/취미/살림</option>
                                <option value="2">교재/참고서/자격증</option>
                                <option value="3">유아/어린이</option>
                                <option value="4">여행</option>
                                <option value="5">역사/문화/예술/종교</option>
                                <option value="6">과학</option>
                                <option value="7">외국어</option>
                                <option value="8">만화</option>
                                <option value="9">컴퓨터/모바일</option>
                                <option value="10">외국도서</option>
                                <option value="99">기타</option>
                                <option value="11">소설/희곡</option>
                                
                            </select>

                            <select class="select_small_category" name="categorySelectorSmall" id="smallCategory" size="6">
                                <option value="12">라이트노벨</option>
                                <option value="13">판타지</option>
                                <option value="14">SF</option>
                                <option value="15">추리</option>
                                <option value="16">로맨스</option>
                                <option value="17">무협</option>
                                <option value="18">희곡</option>
                                <option value="19">기타</option>
        
                            </select>


                        </span>
                        
                    </span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">책소개</p></span>
                    <span class="enroll_right"><textarea class="intro" name="productContent" id=""></textarea></span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">목차</p></span>
                    <span class="enroll_right"><textarea class="intro" name="ubookIndex" id=""></textarea></span>
    
                </div>
    
                <div class="enroll_line">
                    <span class="enroll_left"><p class="left_label">저자 및 역자 소개</p></span>
                    <span class="enroll_right"><textarea class="intro" name="authorIntro" id=""></textarea></span>
    
                </div>

                
                
            </section>
            
            <div class="buttons">

                <button class="insert_btn" type="submit">등록완료</button>
                <button class="cancel_btn" type="button">취소</button>

            </div>

        </form>











    </main>


    <th:block th:replace="~{common/footer}"></th:block>
    

    <script  th:src="@{/js/ubook/usedbookEnroll.js}"></script>
    
</body>
</html>