<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/movie/movie-write.css}">
    <title>영화상품 등록</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- 헤더 -->
    <th:block th:replace="~{common/header}">header.html</th:block>

    <div class="write-container">
        <div class="table-wrapper">
            <h3>영화 수정</h3> 
            <form th:action="@{/movies/{productNo}/update(productNo=*{productNo})}" method="POST" name="movieFrm" id="updateFrm" enctype="multipart/form-data" th:object="${movie}">
                <input type="hidden" th:field="*{productNo}">
                <table class="table-container">
                    <thead>
                        <tr class="table-title">
                            <th>영화제목</th>
                            <th>대표이미지</th>
                            <th>감독</th>
                            <th>출연배우</th>
                            <th>상영시간</th>
                            <th>관람등급</th>
                            <th>제작사</th>
                            <th>개봉일</th>
                            <th>판매가</th>
                            <th>국가</th>
                            <th class="category-th">카테고리</th>
                            <th class="movie-th">영화소개</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-content">
                            <td><input type="text" class="movie-input-css" th:field="*{productTitle}" placeholder="영화 제목을 입력하세요." ></td>
                            <td>
                                <label for="movieImg"><img th:src="${movie.imgPath}" id="add-img"></label>
                                <input type="file" id="movieImg" name="movieImg" accept="image/*" hidden>
                            </td>
                            <td><input name='directors' class='movie-input-css' th:value="${#strings.listJoin(movie.directors, ', ')}" placeholder='감독을 콤마(,)로 구분해서 입력' ></td>
                            <td><input name='actors' class='movie-input-css' th:value="${#strings.listJoin(movie.actors, ', ')}" placeholder='배우를 콤마(,)로 구분해서 입력' ></td>
                            <td><input type="number" class="input" th:field="*{movieTime}" >분</td>
                            <td class="td-radio">
                                <input type="radio" value="All" th:field="*{filmRating}"> 전체관람
                                <input type="radio" value="TWELVE" th:field="*{filmRating}"> 12세이상 관람
                                <input type="radio" value="FIFTEEN" th:field="*{filmRating}"> 15세이상 관람
                                <input type="radio" value="ADULT" th:field="*{filmRating}"> 청소년관람불가
                            </td>
                            <td><input name='companies' class='movie-input-css' th:value="${#strings.listJoin(movie.companies, ', ')}" placeholder='제작사를 콤마(,)로 구분해서 입력' ></td>
                            <td><input type="date" name="productDate" class="open-date" th:value="${#temporals.format(movie.productDate, 'yyyy-MM-dd')}" ></td>
                            <td><input type="number" name="productPrice" class="input" th:field="*{productPrice}" >원</td>
                            <td><input name='nation' class='movie-input-css' th:value="${#strings.listJoin(movie.nation, ', ')}" placeholder='국가를 입력해주세요.' ></td>
                            <td class="category-td">
                                <select th:field="*{parentId}" size="5" required>
                                    <option value="100" >국내영화</option>
                                    <option value="200" >해외영화</option>
                                </select>
                                <select th:field="*{categoryId}" size="5" required th:with="base=*{parentId}">
                                    <option th:value="${base + 1}">액션</option>
                                    <option th:value="${base + 2}">모험</option>
                                    <option th:value="${base + 3}">애니메이션</option>
                                    <option th:value="${base + 4}">코미디</option>
                                    <option th:value="${base + 5}">범죄</option>
                                    <option th:value="${base + 6}">다큐멘터리</option>
                                    <option th:value="${base + 7}">드라마</option>
                                    <option th:value="${base + 8}">가족</option>
                                    <option th:value="${base + 9}">판타지</option>
                                    <option th:value="${base + 10}">역사</option>
                                    <option th:value="${base + 11}">공포</option>
                                    <option th:value="${base + 12}">음악</option>
                                    <option th:value="${base + 13}">미스터리</option>
                                    <option th:value="${base + 14}">로맨스</option>
                                    <option th:value="${base + 15}">SF</option>
                                    <option th:value="${base + 16}">TV영화</option>
                                    <option th:value="${base + 17}">스릴러</option>
                                    <option th:value="${base + 18}">전쟁</option>
                                    <option th:value="${base + 19}">서부</option>
                                </select>
                            </td>
                            <td class="movie-td"><textarea id="movie-content" th:field="*{productContent}" placeholder="내용을 입력하세요." ></textarea></td>
                        </tr>
                    </tbody>
                </table>

                <div class="button-group">
                    <button type="submit">수정하기</button>
                    <button type="reset">취소</button>
                </div>
            </form>
        </div>
    </div>
    

    <!-- 푸터 -->
    <th:block th:replace="~{common/footer}">footer.html</th:block>

    <script th:src="@{/js/movie/movie-update.js}"></script>
    
</body>
</html>