<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/movie/movie-list.css}">
    <title>영화List</title>
    
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- 헤더 -->
    <th:block th:replace="~{common/header}">header.html</th:block>

    <!-- 영화 목록 1페이지 -->
    <div class="movie-container">
        <div class="movie-header">
            <!-- 네비게이션 -->
            <div class="nav-container">
                <ul class="nav nav-tabs">
                    <li class="nav-item active" data-type="all">전체</li>
                    <li class="nav-item" data-type="domestic">국내영화</li>
                    <li class="nav-item" data-type="foreign">해외영화</li>
                </ul>
            </div>

            <!-- 카테고리(장르) -->
            <div class="genre-list">
                <div class="genre-group">
                    <button>액션</button>
                    <button>모험</button>
                    <button>애니메이션</button>
                    <button>코미디</button>
                    <button>범죄</button>
                    <button>다큐멘터리</button>
                    <button>드라마</button>
                    <button>가족</button>
                    <button>판타지</button>
                    <button>역사</button>
                </div>

                <div class="genre-group">
                    <button>공포</button>
                    <button>음악</button>
                    <button>미스터리</button>
                    <button>로맨스</button>
                    <button>SF</button>
                    <button>TV 영화</button>
                    <button>스릴러</button>
                    <button>전쟁</button>
                    <button>서부</button>
                </div>
            </div>
        
            <div class="list-top-area">
                <select name="sort" id="list-sort">
                    <option value="최신순">최신순</option>
                    <option value="인기순">인기순</option>
                </select>
        
                <div>
                    <input type="text" id="mini-search-input" placeholder="배우, 감독, 영화 제목으로 검색">
                    <button id="mini-search-btn">검색</button>
                </div>
            </div>
        </div>

        <!-- 전체 -->
        <div class="movie-list active" id="all">
            <!-- 카드 이미지 그룹(1줄)-->
            <div class="card-group">
                <!-- 카드 이미지 1개 -->
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- 국내영화 -->
        <div class="movie-list" id="domestic">
            <!-- 영화 포스터 -->
            <div class="card-group">
                <!-- 카드 이미지 1개 -->
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img2.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img2.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img2.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img2.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img2.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- 해외영화 -->
        <div class="movie-list" id="foreign">
            <div class="card-group">
                <!-- 카드 이미지 1개 -->
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img3.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
                <a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img3.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a><a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img3.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a><a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img3.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a><a th:href="@{#}" class="movie-a">
                    <div class="card">
                        <img th:src="@{/images/movie/movie_sample_img3.png}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">아바타:불과재</p>
                            평점<span class="card-rating">9.5</span> <br>
                            개봉<span class="card-date">2025.12.17</span> <br>
                            판매가<span class="card-money">12,000</span>원
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="btn-area">
            <button id="write-btn">글쓰기</button>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <th:block th:replace="~{common/pagination}">pagination.html</th:block>

    <!-- 푸터 -->
    <th:block th:replace="~{common/footer}">footer.html</th:block>

    <script th:src="@{/js/movie/movie-list.js}"></script>
</body>
</html>