<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/movie/movie-detail.css">

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>

    <title>영화 상세정보</title>
</head>
<body>
    <!-- 헤더 -->
    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <div class="header_active"><a href="#" class="white font-18px">홈</a></div>
                    <div><a href="#" class="white font-18px">도서</a></div>
                    <div><a href="#" class="white font-18px">중고도서</a></div>
                    <div><a href="#" class="white font-18px">영화</a></div>
                </div>

                <div class="header_login">
                    <div><a href="#" class="white font-18px">로그인</a></div>
                    <div><a href="#" class="white font-18px">회원가입</a></div>
                </div>
            </div>
        </div>

    </div>

    <!-- 로고 및 검색바 -->
    <div class="logo_search_container">
        <!-- 로고 -->
        <div class="logo_container">
            <a href="#"><img src="../../static/images/common/logo_basic.png" alt=""></a>
        </div>

        <!-- 검색바 전체 자리 -->
        <div class="search_container">
            <!-- 검색 아이콘 -->
            <div class="search_icon">
                <img src="../../static/svg/search_icon.svg" alt="">
            </div>

            <!-- 검색란 -->
            <div class="search_input">
                <input type="text" placeholder="원하는 작품을 검색해 보세요!">
            </div>
        </div>
    </div>

    <main class="main">
        <section class="movie-category-path">
            <!-- 영화 경로 -->
            <span>해외영화 &gt; <span class="category-name">애니메이션</span></span>

            <!-- 관리자용 수정 삭제 -->
            <div class="edit">
                <a class="go-edit">수정</a>
                <span>|</span>
                <a class="go-delete">삭제</a>
            </div>
        </section>

        <section class="movie-detail-main">
            <!-- 영화 대표 이미지 -->
            <div class="img-area">
                <img class="movie-cover" src="../../static/images/movie/movie_sample_img2.png">
            </div>

            <div class="detail-area">
                <!-- 영화 제목 -->
                <h2 class="movie-title">주토피아2</h2>

                <!-- 영화 기본 정보 -->
                <div class="movie-info">
                    <span>2025.11.26 개봉</span>
                    <span>|</span>
                    <span>108분</span>
                    <span>|</span>
                    <span>미국</span>
                    <span>|</span>
                    <span>전체관람가</span>
                </div>

                <button class="movie-heart">
                    <i class="fa-heart fa-solid"></i>
                    <i class="fa-heart fa-regular"></i>
                    1234
                </button>
                
                <div class="movie-price">
                    <div>평점 <b class="rate-value">4.8</b></div>

                    <label class="sell-price">판매가 <b>23,400원</b></label>
                </div>
                
                <div class="movie-buy">
                    <button class="add-cart">보관함</button>
                    <button class="buy">구매하기</button>
                </div>

            </div>
        </section>
    </main>

    
</body>
</html>