<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/movie/movie.css">
    <title>영화상품 등록</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    
    <!-- Tagify -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.8/dist/tagify.css">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.8/dist/tagify.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.8/dist/tagify.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" /> -->

</head>
<body>
    <!-- 헤더 -->
    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <div class="header_active"><a href="#">홈</a></div>
                    <div><a href="#">도서</a></div>
                    <div><a href="#">중고도서</a></div>
                    <div><a href="#">영화</a></div>
                </div>

                <div class="header_login">
                    <div><a href="#">로그인</a></div>
                    <div><a href="#">회원가입</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 로고 및 검색바 -->
    <div class="logo_search_container">
        <!-- 로고 -->
        <div class="logo_container">
            <a href="#"><img src="../../static/images/common/logo_basic.png" alt=""></a>
        </div>

        <!-- 검색바 전체 자리 -->
        <div class="search_container">
            <!-- 검색 아이콘 -->
            <div class="search_icon">
                <img src="../../static/svg/search_icon.svg" alt="">
            </div>

            <!-- 검색란 -->
            <div class="search_input">
                <input type="text" placeholder="원하는 작품을 검색해 보세요!">
            </div>
        </div>
    </div>

    <div class="write-container">
        <div class="table-wrapper">
            <h3>영화 상품 등록</h3> 
            <!-- <form action="#" method="POST"> -->
            <table class="table-container">
                <thead>
                    <tr class="table-title">
                        <th>영화제목</th>
                        <th>대표이미지</th>
                        <th>감독</th>
                        <th>출연배우</th>
                        <th>상영시간</th>
                        <th>관람등급</th>
                        <th>제작사</th>
                        <th>개봉일</th>
                        <th>판매가</th>
                        <th>국가</th>
                        <th>카테고리</th>
                        <th class="movie-th">영화소개</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-content">
                        <td><input type="text" class="movie-title" placeholder="영화 제목을 입력하세요."></td>
                        <td><img src="../../static/svg/ImageAdd.svg" id="add-img"></td>
                        <td><input name='creator' class='some_class_name' placeholder='감독을 입력해주세요.'></td>
                        <td><input name='actor' class='some_class_name' placeholder='배우를 입력해주세요.'></td>
                        <td><input type="number" class="input">분</td>
                        <td class="td-radio">
                            <input type="radio" name="filmClass"> 전체관람가
                            <input type="radio" name="filmClass"> 12세이상 관람가
                            <input type="radio" name="filmClass"> 15세이상 관람가
                            <input type="radio" name="filmClass"> 청소년관람불가
                        </td>
                        <td><input name='company' class='some_class_name' placeholder='제작사를 입력해주세요.'></td>
                        <td><input type="date"  class="open-date"></td>
                        <td><input type="number" class="input">원</td>
                        <td><input name='nation' class='some_class_name' placeholder='국가를 입력해주세요.'></td>
                        <td>
                            <select name="movieType">
                                <option value="DOMESTIC">국내영화</option>
                                <option value="FOREIGN">해외영화</option>
                            </select>
                        </td>
                        <td class="movie-td"><textarea name="" id="movie-content" placeholder="내용을 입력하세요."></textarea></td>
                    </tr>
                </tbody>
            </table>
            <div class="button-group">
                <button type="submit">등록하기</button>
                <button type="reset">취소</button>
            </div>
            <!-- </form> -->
        </div>
    </div>

    <script src="../../static/js/movie/movie.js"></script>
    
</body>
</html>