<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" th:href="@{/css/cart_order/cart.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">

    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>

</head>

<body>

    <th:block th:replace="~{common/header_no_search}">header_no_search.html</th:block>

    <!-- 전체 컨테이너 -->
    <div class="container">

        <div class="cart_container">

            <!-- 왼쪽 결제할 아이템 영역 -->
            <div class="left_container">

                <!-- 전체 / 전체삭제 -->
                <div class="item_delete_area">

                    <!-- 전체 선택 체크박스 -->
                    <div class="check_item_area">
                        <input type="checkbox" id="item_delete">
                        <label for="item_delete">전체</label>
                    </div>

                    <!-- 전체 삭제 버튼 -->
                    <div class="all_delete_item">
                        <a th:href="@{#}" class="font-16px">전체 삭제</a>
                    </div>
                </div>

                <!-- 아이템 없는 경우 -->
                <th:block th:if="${#lists.size(cartList) == 0}">
                    <div class="no_item_container hide">
                         <div class="no_item_icon">
                             <img th:src="@{/svg/danger_icon.svg}" alt="">
                         </div>
             
                         <div class="no_item_text font-18px">장바구니에 담긴 상품이 없습니다.</div>
             
                         <button class="go_home bold font-18px">홈으로</button>
                     </div>
                </th:block>

                <!-- 아이템 있는 경우 -->
                <!-- 아이템 하나 -->
                <th:block th:if="${#lists.size(cartList) > 0}">

                    <th:block th:each="item : ${cartList}">
                        
                        <div class="cart-item">
                            <div class="check-area">
                                <!-- 개별 아이템 선택 체크박스 -->
                                <input type="checkbox" class="product_checkbox">
                            </div>
                            
                            <div class="image-area">
                                <img th:src="${item.imgPath}" alt="상품 이미지">
                            </div>
                            
                            <div class="info-area">
                                
                                <div class="item-header">
                                    <!-- 아이템 삭제 할 때 필요한 값 -->
                                    <input type="hidden" th:value="${item.cartNo}" class="itemNo">
                                    <!-- 상품 번호 -->
                                    <input type="hidden" th:value="${item.productNo}" class="productNo">
                                    
                                    <!-- 상품이 도서면 [도서] 상품명, 영화면 [영화] 상품명 -->
                                    <h3 class="product_title" th:text="|${item.typeCode == 1 ? '[도서]' : '[영화]'} ${item.productTitle}|">상품명</h3>
                                    <button class="delete_btn">삭제</button>
                                </div>
                                
                                <div class="product_price" th:text="|${#numbers.formatInteger(item.productPrice, 1, 'COMMA')}원|">가격</div>
                                
                                <div class="quantity-control" th:if="${item.typeCode == 1}">
                                    <span>수량</span>
                                    <div class="inputs">
                                        <button class="quantity_minus">-</button>
                                        <input type="text" th:value="${item.quantity}" class="quantity_input">
                                        <button class="quantity_plus">+</button>
                                    </div>
                                    <span>개</span>
                                </div>
                                
                            </div>
                        </div>

                    </th:block>
                </th:block>


                <!-- 쇼핑 계속하기 -->
                <th:block th:if="${#lists.size(cartList) > 0}">
                    <div class="continue_shopping_area">
                        <button class="continue_shopping_btn bold font-18px">쇼핑 계속하기</button>
                    </div>
                </th:block>
            </div>

            <!-- 오른쪽 상품 금액 및 주문하기 영역 -->
            <div class="right_container">

                <!-- 상품 금액 -->
                <div class="product_price_container">
                    <div class="font-18px bold">상품 금액</div>
                    <div class="total_product_price font-18px bold">0원</div>
                </div>

                <!-- 배송비 -->
                <div class="delivery_price_container">
                    <div>배송비</div>
                    <div class="delivery_price">0원</div>
                </div>

                <div class="mini_line"></div>

                <!-- 결제 예정 금액 -->
                <div class="last_price_container">
                    <div class="bold">결제 예정 금액</div>
                    <div class="final_price bold">0원</div>
                </div>

                <!-- 주문하기 버튼 -->
                <div class="order_btn">
                    <button type="button" class="font-18px bold">주문하기</button>
                </div>
            </div>

        </div>
    </div>

    <th:block th:replace="~{common/footer}">footer.html</th:block>

    <script th:src="@{/js/pay/cart.js}"></script>
</body>

</html>