<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="../../static/css/cart_order/cart.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">

    <link rel="stylesheet" href="../../static/css/common/header.css">
</head>

<body>
    <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <div class="header_active"><a href="#" class="white">홈</a></div>
                    <div><a href="#" class="white">도서</a></div>
                    <div><a href="#" class="white">중고도서</a></div>
                    <div><a href="#" class="white">영화</a></div>
                </div>

                <div class="header_login">
                    <div><a href="#" class="white">로그인</a></div>
                    <div><a href="#" class="white">회원가입</a></div>
                </div>
            </div>
        </div>

    </div>


    <!-- 전체 컨테이너 -->
    <div class="container">

        <div class="cart_container">

            <!-- 왼쪽 결제할 아이템 영역 -->
            <div class="left_container">

                <!-- 전체 / 전체삭제 -->
                <div class="item_delete_area">

                    <!-- 전체 선택 체크박스 -->
                    <div class="check_item_area">
                        <input type="checkbox" id="item_delete">
                        <label for="item_delete">전체</label>
                    </div>

                    <!-- 전체 삭제 버튼 -->
                    <div class="all_delete_item">
                        <a href="#" class="font-16px">전체 삭제</a>
                    </div>
                </div>

                <!-- 아이템 없는 경우 -->
                <!-- <div class="no_item_container hide">
                     <div class="no_item_icon">
                         <img src="../../static/svg/danger_icon.svg" alt="">
                     </div>
         
                     <div class="no_item_text font-18px">장바구니에 담긴 상품이 없습니다.</div>
         
                     <button class="go_home bold font-18px">홈으로</button>
                 </div> -->

                <!-- 아이템 있는 경우 -->
                <!-- 아이템 하나 -->
                <div class="cart-item">
                    <div class="check-area">
                        <!-- 개별 아이템 선택 체크박스 -->
                        <input type="checkbox" class="product_del_checkbox">
                    </div>

                    <div class="image-area">
                        <img src="../../static/images/cart/mock_book1.png" alt="상품 이미지">
                    </div>

                    <div class="info-area">

                        <div class="item-header">
                            <!-- [도서 / 영화 / 중고도서] 조건 나눠서 대괄호 안에 넣어줘야 함 -->
                            <h3 class="product_title">[도서] 개발자 생존법</h3>
                            <button class="delete_btn">삭제</button>
                        </div>

                        <div class="product_price">18,200원</div>

                        <div class="quantity-control">
                            <span>수량</span>
                            <div class="inputs">
                                <button class="quantity_minus">-</button>
                                <input type="text" value="1" readonly class="quantity_input">
                                <button class="quantity_plus">+</button>
                            </div>
                            <span>개</span>
                        </div>

                    </div>
                </div>

                <div class="cart-item">
                    <div class="check-area">
                        <input type="checkbox" class="product_del_checkbox">
                    </div>

                    <div class="image-area">
                        <img src="../../static/images/cart/mock_book2.png" alt="상품 이미지">
                    </div>

                    <div class="info-area">

                        <div class="item-header">
                            <!-- [도서 / 영화 / 중고도서] 조건 나눠서 대괄호 안에 넣어줘야 함 -->
                            <h3 class="product_title">[영화] 루퍼</h3>
                            <button class="delete_btn">삭제</button>
                        </div>

                        <div class="product_price">7,000원</div>

                        <div class="quantity-control">
                            <span>수량</span>
                            <div class="inputs">
                                <button class="quantity_minus">-</button>
                                <input type="text" value="1" readonly class="quantity_input">
                                <button class="quantity_plus">+</button>
                            </div>
                            <span>개</span>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 오른쪽 상품 금액 및 주문하기 영역 -->
            <div class="right_container">

                <!-- 상품 금액 -->
                <div class="product_price_container">
                    <div class="font-18px bold">상품 금액</div>
                    <div class="total_product_price font-18px bold">0원</div>
                </div>

                <!-- 배송비 -->
                <div class="delivery_price_container">
                    <div>배송비</div>
                    <div class="delivery_price">0원</div>
                </div>

                <div class="mini_line"></div>

                <!-- 결제 예정 금액 -->
                <div class="last_price_container">
                    <div class="bold">결제 예정 금액</div>
                    <div class="final_price bold">0원</div>
                </div>

                <!-- 주문하기 버튼 -->
                <div class="order_btn">
                    <button class="font-18px bold">주문하기</button>
                </div>
            </div>

        </div>
    </div>

    <script src="../../static/js/cart/cart.js"></script>
</body>

</html>