<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery</title>
    <link rel="stylesheet" href="../../static/css/cart_order/order.css">
</head>
<body>
    <!-- 전체 컨테이너 -->
    <div class="order_container">

        <!-- 배송 정보 -->
        <div>
            <div>배송정보</div>

            <!-- 테두리 -->
            <div>
                <!-- 왼쪽 영역 (주문자 및 요청사항) -->
                <div>
                    <!-- 주문자 영역 -->
                    <div>
                        <div>주문자</div>
                        <div>
                            <input type="text" class="order_name">
                            <input type="text">
                        </div>
                    </div>
                </div>

                <!-- 오른쪽 영역 (주소) -->
                <div>

                </div>
            </div>

        </div>

    </div>
</body>
</html>