<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 완료!</title>
    <link rel="stylesheet" th:href="@{/css/cart_order/pay_completed.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
</head>
<body>

    <th:block th:replace="~{common/header_no_search}">header_no_search.html</th:block>

    <div class="pay_completed_container">
        <div class="inner_container">

            <div class="pay_completed_text">
                <div><img th:src="@{/svg/pay_completed.svg}" alt="완료 아이콘"></div>
                <div class="complete_msg">결제가 완료 되었습니다!</div>
            </div>

            <div class="pay_info_container">
                
                <div class="info_column margin">
                    <div class="section_title">배송정보</div>

                    <div class="info_row">
                        <div class="label">주문자</div>
                        <div class="content">
                            <span th:text="${delivery != null ? delivery.recipientName : order.member.memberName}">주문자명</span>
                            
                            <span class="phone" th:text="${(delivery != null ? delivery.recipientTel : order.member.memberPhone).replaceAll('(\d{3})(\d{4})(\d{4})', '$1-$2-$3')}">
                                010-1234-1234
                            </span>
                        </div>
                    </div>

                    <div class="info_row">
                        <div class="label">배송지</div>
                        <div class="content">
                            <th:block th:if="${delivery != null}">
                                <div th:text="|(${delivery.postCode}) ${delivery.roadAddress}|">우편번호 주소</div>
                                <div th:text="${delivery.detailAddress}">상세주소</div>
                            </th:block>

                            <th:block th:unless="${delivery != null}">
                                <div style="color: #888;">-</div>
                            </th:block>
                        </div>
                    </div>

                    <div class="info_row">
                        <div class="label">요청사항</div>
                        <div class="content">
                            <span th:if="${delivery != null}" th:text="${delivery.orderRequest}">요청사항 내용</span>
                            <span th:unless="${delivery != null}">-</span>
                        </div>
                    </div>
                </div>

                <div class="info_column">
                    <div class="section_title">결제정보</div>

                    <div class="info_row">
                        <div class="label">주문 번호</div>
                        <div class="content" th:text="${order.orderNo}">주문번호</div>
                    </div>

                    <div class="info_row">
                        <div class="label">주문 상품</div>
                        <div class="content">
                            <span th:text="${order.details[0].product.productTitle}">상품명</span>
                            
                            <span th:if="${#lists.size(order.details) > 1}" 
                                  th:text="| 외 ${#lists.size(order.details) - 1}건|"> 외 1건</span>
                        </div>
                    </div>

                    <div class="info_row">
                        <div class="label">결제 일시</div>
                        <div class="content" th:text="${#temporals.format(payment.payDate, 'yyyy.MM.dd HH:mm')}">2025.12.18 10:12</div>
                    </div>

                    <div class="info_row">
                        <div class="label">결제 수단</div>
                        <div class="content" th:text="${payment.payMethod}">간편 결제</div>
                    </div>

                    <div class="info_row">
                        <div class="label">결제 금액</div>
                        <div class="content price" th:text="|${#numbers.formatInteger(payment.payPrice, 1, 'COMMA')}원|">36,200원</div>
                    </div>
                </div>

            </div> </div> </div> <th:block th:replace="~{common/footer}">footer.html</th:block>
</body>
</html>