<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 완료!</title>
    <link rel="stylesheet" href="../../static/css/cart_order/pay_completed.css">
    <link rel="stylesheet" href="../../static/css/common/header.css">
</head>
<body>

        <div class="header_container">
        <div class="blue_background">
            <div class="header_inner">
                <div class="header_category">
                    <!-- 선택에 따른 효과 - 타임리프(경로에 따른 효과 주기로 변경 예정) -->
                    <div class="header_active"><a href="#" class="white font-18px">홈</a></div>
                    <div><a href="#" class="white font-18px">도서</a></div>
                    <div><a href="#" class="white font-18px">중고도서</a></div>
                    <div><a href="#" class="white font-18px">영화</a></div>
                </div>

                <div class="header_login">
                    <div><a href="#" class="white font-18px">로그인</a></div>
                    <div><a href="#" class="white font-18px">회원가입</a></div>
                </div>
            </div>
        </div>

    </div>

    <div class="pay_completed_container">
        <div class="inner_container">

            <div class="pay_completed_text">
                <div><img src="../../static/svg/pay_completed.svg" alt=""></div>
                <div class="complete_msg">결제가 완료 되었습니다!</div>
            </div>

            <div class="pay_info_container">
                
                <!-- 배송정보 -->
                <div class="info_column margin">
                    <div class="section_title">배송정보</div>

                    <!-- 주문자 -->
                    <div class="info_row">
                        <div class="label">주문자</div>
                        <div class="content">
                            <span>김멍멍</span>
                            <span class="phone">010-1234-1234</span>
                        </div>
                    </div>

                    <!-- 배송지 -->
                    <div class="info_row">
                        <div class="label">배송지</div>
                        <div class="content">
                            <div>서울특별시 종로구 삼일대로 19길 15 (관철동)</div>
                            <!-- 상세주소 -->
                            <div>9층 906호</div>
                        </div>
                    </div>

                    <!-- 요청사항 -->
                    <div class="info_row">
                        <div class="label">요청사항</div>
                        <div class="content">예쁘게 포장해주세요</div>
                    </div>
                </div>

                <!-- 결제정보 -->
                <div class="info_column">
                    <div class="section_title">결제정보</div>

                    <!-- 주문번호 -->
                    <div class="info_row">
                        <div class="label">주문 번호</div>
                        <div class="content">A348509341674</div>
                    </div>

                    <!-- 주문상품 -->
                    <div class="info_row">
                        <div class="label">주문 상품</div>
                        <div class="content">바이브 코딩 너머 개발자 생존법 외 1개</div>
                    </div>

                    <!-- 결제일시 -->
                    <div class="info_row">
                        <div class="label">결제 일시</div>
                        <div class="content">2025.12.18 10:12</div>
                    </div>

                    <!-- 결제수단 -->
                    <div class="info_row">
                        <div class="label">결제 수단</div>
                        <div class="content">간편 결제</div>
                    </div>

                    <!-- 결제금액 -->
                    <div class="info_row">
                        <div class="label">결제 금액</div>
                        <div class="content price">36,200원</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <footer class="footer">
  <div class="footer-in">

    <!-- 상단 링크 -->
    <nav class="ft-toplinks" aria-label="Ft links">
      <a href="#">회사소개</a>
      <span class="sep">|</span>
      <a href="#">서비스 소개</a>
      <span class="sep">|</span>
      <a href="#">이용약관</a>
      <span class="sep">|</span>
      <a href="#">개인정보처리방침</a>
      <span class="sep">|</span>
      <a href="#">청소년보호정책</a>
      <span class="sep">|</span>
      <a href="#">채용정보</a>
      <span class="sep">|</span>
      <a href="#">광고문의</a>
    </nav>

    <div class="footer-main">
      <!-- 좌측 로고 -->
      <div class="footer-brand" aria-label="BOOGIMOVIE">
        <img src="../../static/images/common/logo_white.png" alt="">
      </div>

      <!-- 회사 정보 -->
      <div class="footer-info">
        <div class="info-row">
          <span class="info-title">(주)BOOGIMOVIE</span>
        </div>

        <div class="info-row">
          <span>서울특별시 종로구 우정국로2길 21 9층, 903호</span>
        </div>

        <div class="info-row">
          <span>대표자: (발신자부담) 1544-0000(부기문고) · 1661-1112(핫트랙스)</span>
        </div>

        <div class="info-row">
          <span>이메일: boogi@naver.com</span>
        </div>

        <div class="info-row">
          <span>대표 FAX: 2025-012-0801</span>
        </div>

        <div class="info-row">
          <span>사업자등록번호: 102-81-11670</span>
        </div>

        <div class="info-row">
          <span>통신판매업신고: 0000 - 서울 종로구 - 00000</span>
        </div>

        <div class="info-row">
          <span>개인정보관리 책임자: 김무비</span>
        </div>

        <div class="info-row copyright">
          © BOOGIMOVIE CENTRE
        </div>
      </div>

      <!-- 우측 SNS -->
      <div class="footer-sns" aria-label="Social links">
        <a class="sns-btn" href="#" aria-label="KakaoTalk"><img src="../../static/svg/footer-kakao.svg" alt=""></a>
        <a class="sns-btn" href="#" aria-label="Facebook"><img src="../../static/svg/footer-facebook.svg" alt=""></a>
        <a class="sns-btn" href="https://www.instagram.com/dog___foooot?igsh=MTlyc3lpc3Y3c3FqMA==" aria-label="Instagram"><img src="../../static/svg/footer-instagram.svg" alt=""></a>
        <a class="sns-btn" href="#" aria-label="YouTube"><img src="../../static/svg/footer-youtube.svg" alt=""></a>
      </div>
    </div>
  </div>
</footer>
<link rel="stylesheet" href="../../static/css/common/footer.css">
</body>
</html>