body {
    padding: 0;
    margin: 0 auto; 
}

.body_container {
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;    
    max-width: 1200px;
    padding-left: 30px;    
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08); 

}

.section_header {
    text-align: center;
    margin-bottom: 50px;    
}

.select_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 180px;
}

.search_order {
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}


/* search_content */

.search_box_menu {
    margin: 50px 150px;
}

.search_box_results {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    margin: 20px 150px;
    padding: 20px 30px;
    gap: 70px;
}

.search_box_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 찌그러지지 않게 채움 */
}

/* 찜 하트 이미지 사이즈 고정 */
.search_box_like img {
    width: 24px !important;
    height: 24px !important;
}

/* 상세 정보 텍스트 간격 조정 */
.search_box_detail div {
    margin-bottom: 5px;
}

.search_box_detail {
    margin-right: 200px;
    padding-top: 5px;
}

.search_box_like {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    padding-top: 10px;
    min-width: 100px;
}

.search_box_like div {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    white-space: nowrap; 
}

.search_box_detail .price {
    white-space: nowrap;       /* 글자가 길어도 다음 줄로 넘어가지 않게 함 */
    overflow: hidden;          /* 영역을 벗어나는 부분은 숨김 (필요 시) */
    text-overflow: ellipsis;   /* 영역이 너무 좁으면 ...으로 표시 (필요 시) */
}


/*페이지네이션*/
.pagination {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 30px 0;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.pagination a {
    width: 35px;
    height: 35px;
    text-decoration: none;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    

}

.pagination a:hover,
.pagination a.active {
    background-color: #082A71;
    color: white;
    border-color: #082A71;
}
