/* 폰트 색상 */
.gray {
    color: #565050;
}

/* .my_movie_a {
    text-decoration: none;
    color: black;
} */

body {
    display: flex;
    flex-direction: column; 
    margin: 0; 
    min-height: 100vh; 
}

.content_wrapper {
    display: flex; 
    flex: 1;
    width: 100%;
}


/* 전체 컨테이너 */
.myPage_container {
    width: 65%;
    margin-bottom: 300px;
}

/* 오른쪽 빈 공간 */
.right_empty_container {
    background-color: rgb(255, 209, 149);
    width: 35%;
}

/* 정보 수정 제목 */
.myPage-title {
    text-align: center;
    margin-top: 50px;
    
    font-size: 25px;
    font-weight: bold;
}

/* 사용자 정보 */
.user_info_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}
/* ================================================ */

/* 프로필이미지 구역 */
.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 130px;
    margin-right: 30px;

}

/* 이미지 */
.profile-img {
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
}


/* 이미지 변경 버튼 */
.img-change-btn {
    margin-top: 20px;
    
    width: 90px;
    height: 40px;
    
    border: none;
    border-radius: 5px;

    color: white;
    font-size: 16px;
    font-weight: bold;

    background-color: #5170B1;
}
.img-change-btn:hover {
    cursor: pointer;
}

/* =================================================== */

/* 정보 구역 */
.info-text-area {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 20px;
    gap: 20px;
}

/* 항목 상자 */
.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 70px;

    border: 3px solid #082A71;
}

/* 타입 */
.t-name {
    width: 140px;
    
    text-align: center;
    align-items: center;


    font-size: 20px;
    font-weight: bold;
    color: #082A71;
}

/* 값 */
.info-box > p {
    margin: 0;
    padding: 0;

    width: 300px;

    font-size: 20px;

}

/* 수정 버튼 */
.change-btn {
    width: 70px;
    height: 35px;

    margin-right: 10px;

    border: none;
    border-radius: 5px;

    background-color: #5170B1;

    font-size: 20px;
    color: white;
}

.change-btn:hover {
    cursor: pointer;
}
/* ============================================================== */

/* 수정구역 상자 */
.edit-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 70px;

    border: 3px solid #082A71;
}



/* 수정 input */
.edit-box > input {
    margin: 0;
    padding: 0;

    height: 100%;
    box-sizing: border-box;

    width: 300px;

    border: none;
    
    font-size: 20px;

    align-items: flex-start;
}

/* 포커스중에도 테두리 없애기 */
.edit-box > input:focus {
    outline: none;
}


/* 수정 완료 버튼 */
.edit-box > button{
    width: 70px;
    height: 35px;

    margin-right: 10px;

    border: none;
    border-radius: 5px;

    background-color: #5170B1;

    font-size: 20px;
    color: white;
}

.just-shape {
    width: 70px;
    height: 35px;

    margin-right: 10px;
    border: none;
    background-color: white;

}
.just-shape:hover {
    cursor: default;
    
}

/* 비번 수정 상자  */
.change-pw-box {
    display: none;
}

.change-pw-box.open {
    display: block;
}

#change-img {
    width: 130px;
    height: 130px;
    object-fit: cover;   /* 핵심 */
    border-radius: 50%;  /* 원형이면 */
}