* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 사이드 바 전체 컨테이너 */
.my_page_side_container {
    width: 360px;
    min-height: 100vh; /* 본문 영역에 따라 사이트바 높이 달라지게 */
    /* min-height: calc(100vh - 헤더높이 - 푸터높이); */

    flex-shrink: 0;
    background-color: #082A71;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 각 요소들 공통 속성 */
.my_profile_setting_container,
.my_wish_list_container,
.user_secession_container {
    width: 360px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    transition: background-color 0.2s ease;
}

.my_profile_setting_container {
    margin-top: 80px;
}

.my_profile_setting_container:hover,
.my_wish_list_container:hover,
.user_secession_container:hover {
    cursor: pointer;
    background-color: #5170B0;
}

.sideBar_icon {
    width: 34px;
}

/* 메뉴 텍스트 속성 */
.my_page_menu {
    width: 100px;
    margin-left: 30px;
    color: white;
}

/* 메뉴 클릭시 효과 */
.active_my_page {
    background-color: #5170B0;
}